node-red/flows.json
[
    {
        "id": "604cf513030510ed",
        "type": "subflow",
        "name": "Subflow 4",
        "info": "",
        "in": [],
        "out": []
    },
    {
        "id": "7c8f33fa5bbdbcd2",
        "type": "ui_button",
        "z": "604cf513030510ed",
        "name": "",
        "group": "ecf99dcdac6e7b12",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Agregar",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 200,
        "y": 80,
        "wires": [
            [
                "5b25e58f7203c512"
            ]
        ]
    },
    {
        "id": "5b25e58f7203c512",
        "type": "change",
        "z": "604cf513030510ed",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Dispositivo nuevo detectado",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Asignale un ID",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 120,
        "wires": [
            [
                "e2bea63f125da90f"
            ]
        ]
    },
    {
        "id": "e2bea63f125da90f",
        "type": "ui_toast",
        "z": "604cf513030510ed",
        "position": "prompt",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 290,
        "y": 160,
        "wires": [
            [
                "b443f67764cb363c"
            ]
        ]
    },
    {
        "id": "b443f67764cb363c",
        "type": "switch",
        "z": "604cf513030510ed",
        "name": "Check ID",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Cancel",
                "vt": "str"
            },
            {
                "t": "empty"
            },
            {
                "t": "nempty"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 500,
        "y": 160,
        "wires": [
            [
                "2c93f757fe0e685a"
            ],
            [
                "e962d77d4a7336e5"
            ],
            [
                "ba3882cd334af318"
            ]
        ]
    },
    {
        "id": "2c93f757fe0e685a",
        "type": "change",
        "z": "604cf513030510ed",
        "name": "ID Cancel",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Error",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "La asignación de Id para el dispositivo ha sido cancelada por el usuario",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 120,
        "wires": [
            [
                "f10ff4c91c792dd5"
            ]
        ]
    },
    {
        "id": "f10ff4c91c792dd5",
        "type": "ui_toast",
        "z": "604cf513030510ed",
        "position": "top right",
        "displayTime": "4",
        "highlight": "red",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "Error",
        "x": 1050,
        "y": 180,
        "wires": []
    },
    {
        "id": "e962d77d4a7336e5",
        "type": "change",
        "z": "604cf513030510ed",
        "name": "ID vacio",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Error",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "El campo estaba vacío",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 160,
        "wires": [
            [
                "f10ff4c91c792dd5"
            ]
        ]
    },
    {
        "id": "ba3882cd334af318",
        "type": "function",
        "z": "604cf513030510ed",
        "name": "Validar ID",
        "func": "// Obtener y convertir el valor del payload\nconst v = Number(msg.payload);\n\n// Inicializar las salidas\nlet msgErr = null;\nlet msgOk = null;\n\n// Validar que sea un número entre 1 y 10\nif (!isNaN(v) && Number.isInteger(v) && v >= 1 && v <= 10) {\n    // Formatear el ID como \"esp32-xx\", con dos dígitos\n    const id = \"esp32-\" + v.toString().padStart(2, \"0\");\n    \n    // Enviar ese string como nuevo payload\n    msgOk = { payload: id };\n} else {\n    // Si no es válido, mandar true como indicador para el nodo de error\n    msgErr = { payload: true };\n}\n\n// Devolver [salida_error, salida_ok]\nreturn [msgErr, msgOk];\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 200,
        "wires": [
            [
                "59521ac77e457719"
            ],
            [
                "aa4baf1ceebb6bcf",
                "02768804e5bb907b"
            ]
        ]
    },
    {
        "id": "59521ac77e457719",
        "type": "change",
        "z": "604cf513030510ed",
        "name": "ID incorrecta",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Error",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Introduzca una ID válida",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 200,
        "wires": [
            [
                "f10ff4c91c792dd5"
            ]
        ]
    },
    {
        "id": "89e3cea9b9a93e5d",
        "type": "ui_toast",
        "z": "604cf513030510ed",
        "position": "top right",
        "displayTime": "4",
        "highlight": "green",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "Éxito",
        "x": 1050,
        "y": 260,
        "wires": []
    },
    {
        "id": "02768804e5bb907b",
        "type": "mqtt out",
        "z": "604cf513030510ed",
        "name": "",
        "topic": "esp32/id",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ac2e1fc7abc358f8",
        "x": 880,
        "y": 300,
        "wires": []
    },
    {
        "id": "aa4baf1ceebb6bcf",
        "type": "change",
        "z": "604cf513030510ed",
        "name": "ID agregada",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Éxito",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ID agregada con éxito",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 260,
        "wires": [
            [
                "89e3cea9b9a93e5d"
            ]
        ]
    },
    {
        "id": "ecf99dcdac6e7b12",
        "type": "ui_group",
        "name": "Nuevo",
        "tab": "d78fca0d22a7c14e",
        "order": 11,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d78fca0d22a7c14e",
        "type": "ui_tab",
        "name": "Históricos",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "cb2a027c8a35c6d5",
        "type": "tab",
        "label": "Flujo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "02a255027597ad01",
        "type": "mqtt in",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "topic": "esp32/sensores",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ac2e1fc7abc358f8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 440,
        "wires": [
            [
                "e8d1419c9cb6db9d",
                "f07d943105ad6c49",
                "dd20fa66775cdede",
                "69665ccc2cd896c3"
            ]
        ]
    },
    {
        "id": "e8d1419c9cb6db9d",
        "type": "function",
        "z": "cb2a027c8a35c6d5",
        "name": "Control Pantallas",
        "func": "// === CONFIGURACIÓN ===\nconst TAB_IDS = [\"Históricos\", \"Valores\"];\nconst GROUP_IDS = [                             \n  \"esp32-01\",\"esp32-02\",\"esp32-03\",\"esp32-04\",\"esp32-05\",\n  \"esp32-06\",\"esp32-07\",\"esp32-08\",\"esp32-09\",\"esp32-10\",\n  \"Nuevo\"\n];\n\n// Timeout para considerar un ESP32 inactivo (ms)\nconst TIMEOUT = 15 * 1000;\n\n// === LÓGICA ===\n// Recuperamos el estado previo: { id: timestamp, … }\nlet state = flow.get(\"espState\") || {};\n\n// Marcamos llegada de datos de este id\nconst id = msg.payload.id;     // por ejemplo \"esp32-02\"\nstate[id] = Date.now();\n\n// Eliminamos los que lleven más de TIMEOUT sin actualizar\nconst now = Date.now();\nfor (let dev in state) {\n  if (now - state[dev] > TIMEOUT) {\n    delete state[dev];\n  }\n}\n// Guardamos el estado\nflow.set(\"espState\", state);\n\n// Listado de activos e inactivos\nconst activeIds = Object.keys(state);  \nconst inactiveIds = GROUP_IDS.filter(g => !activeIds.includes(g));\n\n// Construimos los control IDs completos para cada TAB\nlet messages = [];\n\nfor (let TAB_ID of TAB_IDS) {\n  const activeControls   = activeIds.map(id => `${TAB_ID}_${id}`);\n  const inactiveControls = inactiveIds.map(id => `${TAB_ID}_${id}`);\n\n  const outMsg = {\n    payload: {\n      group: {\n        show: activeControls,\n        hide: inactiveControls\n      }\n    }\n  };\n\n  messages.push(outMsg);\n}\n\n// Retornamos como [ salida1, salida2 ]\nreturn messages;",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 220,
        "wires": [
            [
                "27c3b83c5a9e53c6"
            ],
            [
                "dc020d39c32af537"
            ]
        ]
    },
    {
        "id": "27c3b83c5a9e53c6",
        "type": "ui_ui_control",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "events": "all",
        "x": 640,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "f07d943105ad6c49",
        "type": "switch",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "property": "payload.id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "esp32-01",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "esp32-02",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "esp32-03",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "esp32-04",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "esp32-05",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "esp32-06",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "esp32-07",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "esp32-08",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "esp32-09",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "esp32-10",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 10,
        "x": 410,
        "y": 440,
        "wires": [
            [
                "e1c4e41f5549ebe5"
            ],
            [
                "7c6ce5ebe2a42a41"
            ],
            [
                "9cd29618a9da4e49"
            ],
            [
                "fa6e73c3c5ab8190"
            ],
            [
                "6bb4ce544d84aba4"
            ],
            [
                "bf4d8fb90bd4977c"
            ],
            [
                "dbb2bc8e8f7f4687"
            ],
            [
                "4b2f4cd674058b2d"
            ],
            [
                "529cd02abc785d92"
            ],
            [
                "733a4cc0e8bcfa45"
            ]
        ]
    },
    {
        "id": "dd20fa66775cdede",
        "type": "debug",
        "z": "cb2a027c8a35c6d5",
        "name": "debug 10",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 320,
        "wires": []
    },
    {
        "id": "55ade0aa474e93f3",
        "type": "subflow:604cf513030510ed",
        "z": "cb2a027c8a35c6d5",
        "name": "esp32-nuevo",
        "x": 390,
        "y": 540,
        "wires": []
    },
    {
        "id": "12d82b3a45b1629c",
        "type": "mysql",
        "z": "cb2a027c8a35c6d5",
        "mydb": "069efc9cf4fddc37",
        "name": "MariaDB",
        "x": 640,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "69665ccc2cd896c3",
        "type": "function",
        "z": "cb2a027c8a35c6d5",
        "name": "Almacena en DB",
        "func": "var datos = msg.payload;\n\nif (datos.id !== \"Nuevo\") {\n    var query = \"INSERT INTO sensores (esp_id, tempA, humA, tempS, humS, ldr) VALUES (\" +\n        \"'\" + datos.id + \"',\" +\n        datos.tempA + \",\" +\n        datos.humA + \",\" +\n        datos.tempS + \",\" +\n        datos.humS + \",\" +\n        datos.ldr + \");\";\n    \n    msg.topic = query;\n    return msg;\n} else {\n    // No enviamos nada al nodo MySQL\n    return null;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 280,
        "wires": [
            [
                "12d82b3a45b1629c"
            ]
        ]
    },
    {
        "id": "44e19da4f93d0c81",
        "type": "ui_chart",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "adcb49cd9175be08",
        "order": 1,
        "width": "0",
        "height": "0",
        "label": "Temperatura",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "200",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#ff7f0e",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1330,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "946a6dc2013fa927",
        "type": "function",
        "z": "cb2a027c8a35c6d5",
        "name": "Decodificar payload",
        "func": "let now = new Date().getTime();\n\nreturn [\n  { payload: msg.payload.tempA, topic: \"Temp. Amb.\", timestamp: now },\n  { payload: msg.payload.humA, topic: \"Humd. Amb.\", timestamp: now },\n  { payload: msg.payload.tempS, topic: \"Temp. Suelo\", timestamp: now },\n  { payload: msg.payload.humS, topic: \"Humd. Suelo.\", timestamp: now },\n  { payload: msg.payload.ldr, topic: \"Luz\", timestamp: now }\n];",
        "outputs": 5,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 240,
        "wires": [
            [
                "44e19da4f93d0c81",
                "1ebf3fdac795f84c",
                "1c197acd1c4e582a"
            ],
            [
                "a6503e5435883beb",
                "1c02fd179fec3a47"
            ],
            [
                "44e19da4f93d0c81",
                "4862d8071e1a69a7"
            ],
            [
                "a6503e5435883beb",
                "2242c7da3a8f478f"
            ],
            [
                "232f52e60850acaf",
                "f9f50aaa6151ec57"
            ]
        ]
    },
    {
        "id": "a6503e5435883beb",
        "type": "ui_chart",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "adcb49cd9175be08",
        "order": 2,
        "width": "0",
        "height": "0",
        "label": "Humedad",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "200",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#2ca004",
            "#a30579",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1320,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "1c4a1bc9c35c8858",
        "type": "function",
        "z": "cb2a027c8a35c6d5",
        "name": "Reset",
        "func": "return { payload: [], reset: true };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 360,
        "wires": [
            [
                "44e19da4f93d0c81",
                "a6503e5435883beb",
                "232f52e60850acaf",
                "1ebf3fdac795f84c",
                "1c02fd179fec3a47",
                "4862d8071e1a69a7",
                "2242c7da3a8f478f",
                "f9f50aaa6151ec57"
            ]
        ]
    },
    {
        "id": "73a54a44fba6562a",
        "type": "inject",
        "z": "cb2a027c8a35c6d5",
        "name": "inject",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 970,
        "y": 400,
        "wires": [
            [
                "1c4a1bc9c35c8858"
            ]
        ]
    },
    {
        "id": "dc020d39c32af537",
        "type": "ui_ui_control",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "events": "all",
        "x": 640,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "232f52e60850acaf",
        "type": "ui_chart",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "adcb49cd9175be08",
        "order": 2,
        "width": "0",
        "height": "0",
        "label": "Luminosidad",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "200",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ffcd1a",
            "#a30579",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1330,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "1ebf3fdac795f84c",
        "type": "ui_gauge",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "8c2d6dc3f50a80bf",
        "order": 1,
        "width": "3",
        "height": "3",
        "gtype": "donut",
        "title": "Temp Ambiente",
        "label": " °C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#c3f92f",
            "#ebe300"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1340,
        "y": 320,
        "wires": []
    },
    {
        "id": "1c02fd179fec3a47",
        "type": "ui_gauge",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "8c2d6dc3f50a80bf",
        "order": 3,
        "width": "3",
        "height": "3",
        "gtype": "wave",
        "title": "Hum Ambiente",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1340,
        "y": 360,
        "wires": []
    },
    {
        "id": "2242c7da3a8f478f",
        "type": "ui_gauge",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "8c2d6dc3f50a80bf",
        "order": 4,
        "width": "3",
        "height": "3",
        "gtype": "wave",
        "title": "Hum Suelo",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1330,
        "y": 440,
        "wires": []
    },
    {
        "id": "f9f50aaa6151ec57",
        "type": "ui_gauge",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "8c2d6dc3f50a80bf",
        "order": 5,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "Luminosidad",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#170d9b",
            "#ffe100",
            "#ffe100"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1330,
        "y": 480,
        "wires": []
    },
    {
        "id": "4862d8071e1a69a7",
        "type": "ui_gauge",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "8c2d6dc3f50a80bf",
        "order": 2,
        "width": "3",
        "height": "3",
        "gtype": "donut",
        "title": "Temp Suelo",
        "label": " °C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#c3f92f",
            "#ebe300"
        ],
        "seg1": "60",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1330,
        "y": 400,
        "wires": []
    },
    {
        "id": "b3eea0fd570a82bf",
        "type": "ui_slider",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "label": "Umbral",
        "tooltip": "",
        "group": "8c2d6dc3f50a80bf",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 860,
        "y": 600,
        "wires": [
            [
                "new-change-slider"
            ]
        ]
    },
    {
        "id": "9558922a579c3222",
        "type": "ui_switch",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "label": "Modo de control: Auto / Manual",
        "tooltip": "",
        "group": "8c2d6dc3f50a80bf",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 930,
        "y": 540,
        "wires": [
            [
                "new-change-mode"
            ]
        ]
    },
    {
        "id": "fac22554f4f47c30",
        "type": "mqtt out",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ac2e1fc7abc358f8",
        "x": 1490,
        "y": 600,
        "wires": []
    },
    {
        "id": "34f39a8d2f8ee5b5",
        "type": "ui_switch",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "label": "Encendido manual: OFF / ON",
        "tooltip": "",
        "group": "8c2d6dc3f50a80bf",
        "order": 8,
        "width": "0",
        "height": "0",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 930,
        "y": 660,
        "wires": [
            [
                "new-change-manual"
            ]
        ]
    },
    {
        "id": "49a64c58aa13d8bf",
        "type": "mqtt out",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ac2e1fc7abc358f8",
        "x": 1490,
        "y": 540,
        "wires": []
    },
    {
        "id": "92ba2beaf47b0251",
        "type": "mqtt out",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ac2e1fc7abc358f8",
        "x": 1490,
        "y": 660,
        "wires": []
    },
    {
        "id": "94a7d15967f1447a",
        "type": "function",
        "z": "cb2a027c8a35c6d5",
        "name": "function 1",
        "func": "msg.topic = \"esp32/\" + msg.group + \"/mode_hum\";\nmsg.payload = (msg.payload) ? \"manual\" : \"auto\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 540,
        "wires": [
            [
                "49a64c58aa13d8bf"
            ]
        ]
    },
    {
        "id": "e22bf5c4836a5bfd",
        "type": "function",
        "z": "cb2a027c8a35c6d5",
        "name": "function 2",
        "func": "msg.topic = \"esp32/\" + msg.group + \"/manual_hum\";\nmsg.payload = (msg.payload) ? \"1\" : \"0\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 660,
        "wires": [
            [
                "92ba2beaf47b0251"
            ]
        ]
    },
    {
        "id": "9ec6f9eaccb77431",
        "type": "function",
        "z": "cb2a027c8a35c6d5",
        "name": "function 3",
        "func": "msg.topic = \"esp32/\" + msg.group + \"/umbral_hum\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 600,
        "wires": [
            [
                "fac22554f4f47c30"
            ]
        ]
    },
    {
        "id": "new-change-mode",
        "type": "change",
        "z": "cb2a027c8a35c6d5",
        "name": "Set Group ID",
        "rules": [
            {
                "t": "set",
                "p": "group",
                "pt": "msg",
                "to": "esp32-01",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1150,
        "y": 540,
        "wires": [
            [
                "94a7d15967f1447a"
            ]
        ]
    },
    {
        "id": "new-change-manual",
        "type": "change",
        "z": "cb2a027c8a35c6d5",
        "name": "Set Group ID",
        "rules": [
            {
                "t": "set",
                "p": "group",
                "pt": "msg",
                "to": "esp32-01",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1150,
        "y": 660,
        "wires": [
            [
                "e22bf5c4836a5bfd"
            ]
        ]
    },
    {
        "id": "new-change-slider",
        "type": "change",
        "z": "cb2a027c8a35c6d5",
        "name": "Set Group ID",
        "rules": [
            {
                "t": "set",
                "p": "group",
                "pt": "msg",
                "to": "esp32-01",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1150,
        "y": 600,
        "wires": [
            [
                "9ec6f9eaccb77431"
            ]
        ]
    },
    {
        "id": "9a4950eef2239c2a",
        "type": "link in",
        "z": "cb2a027c8a35c6d5",
        "name": "link in 1",
        "links": [
            "e1c4e41f5549ebe5"
        ],
        "x": 825,
        "y": 240,
        "wires": [
            [
                "946a6dc2013fa927"
            ]
        ]
    },
    {
        "id": "e1c4e41f5549ebe5",
        "type": "link out",
        "z": "cb2a027c8a35c6d5",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "9a4950eef2239c2a"
        ],
        "x": 605,
        "y": 380,
        "wires": []
    },
    {
        "id": "7c6ce5ebe2a42a41",
        "type": "link out",
        "z": "cb2a027c8a35c6d5",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "1f694c5563267976"
        ],
        "x": 605,
        "y": 420,
        "wires": []
    },
    {
        "id": "9cd29618a9da4e49",
        "type": "link out",
        "z": "cb2a027c8a35c6d5",
        "name": "link out 3",
        "mode": "link",
        "links": [
            "e9c72cfd5baa76d6"
        ],
        "x": 605,
        "y": 460,
        "wires": []
    },
    {
        "id": "c8e0fc670e64af3e",
        "type": "inject",
        "z": "cb2a027c8a35c6d5",
        "name": "Refresh",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 220,
        "wires": [
            [
                "e8d1419c9cb6db9d"
            ]
        ]
    },
    {
        "id": "c22646630543a7ea",
        "type": "ui_button",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "adcb49cd9175be08",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Limpiar",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 960,
        "y": 360,
        "wires": [
            [
                "1c4a1bc9c35c8858"
            ]
        ]
    },
    {
        "id": "1c197acd1c4e582a",
        "type": "debug",
        "z": "cb2a027c8a35c6d5",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1320,
        "y": 160,
        "wires": []
    },
    {
        "id": "fa6e73c3c5ab8190",
        "type": "link out",
        "z": "cb2a027c8a35c6d5",
        "name": "link out 4",
        "mode": "link",
        "links": [
            "998aa861e25d74c1"
        ],
        "x": 605,
        "y": 500,
        "wires": []
    },
    {
        "id": "6bb4ce544d84aba4",
        "type": "link out",
        "z": "cb2a027c8a35c6d5",
        "name": "link out 5",
        "mode": "link",
        "links": [
            "4f3c6bfc6ba05f38"
        ],
        "x": 605,
        "y": 540,
        "wires": []
    },
    {
        "id": "bf4d8fb90bd4977c",
        "type": "link out",
        "z": "cb2a027c8a35c6d5",
        "name": "link out 6",
        "mode": "link",
        "links": [
            "7b1c0eb3868b11e4"
        ],
        "x": 605,
        "y": 580,
        "wires": []
    },
    {
        "id": "dbb2bc8e8f7f4687",
        "type": "link out",
        "z": "cb2a027c8a35c6d5",
        "name": "link out 7",
        "mode": "link",
        "links": [
            "79230f14f8901e3b"
        ],
        "x": 605,
        "y": 620,
        "wires": []
    },
    {
        "id": "4b2f4cd674058b2d",
        "type": "link out",
        "z": "cb2a027c8a35c6d5",
        "name": "link out 8",
        "mode": "link",
        "links": [
            "e986fd5290ac59a6"
        ],
        "x": 605,
        "y": 660,
        "wires": []
    },
    {
        "id": "529cd02abc785d92",
        "type": "link out",
        "z": "cb2a027c8a35c6d5",
        "name": "link out 9",
        "mode": "link",
        "links": [
            "0d690a47698e81cd"
        ],
        "x": 605,
        "y": 700,
        "wires": []
    },
    {
        "id": "2f983341c058114a",
        "type": "ui_chart",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "391efe01648683f6",
        "order": 1,
        "width": "0",
        "height": "0",
        "label": "Temperatura",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "200",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#ff7f0e",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1350,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "143b7f10be31e9b1",
        "type": "function",
        "z": "cb2a027c8a35c6d5",
        "name": "Decodificar payload",
        "func": "let now = new Date().getTime();\n\nreturn [\n  { payload: msg.payload.tempA, topic: \"Temp. Amb.\", timestamp: now },\n  { payload: msg.payload.humA, topic: \"Humd. Amb.\", timestamp: now },\n  { payload: msg.payload.tempS, topic: \"Temp. Suelo\", timestamp: now },\n  { payload: msg.payload.humS, topic: \"Humd. Suelo.\", timestamp: now },\n  { payload: msg.payload.ldr, topic: \"Luz\", timestamp: now }\n];",
        "outputs": 5,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 840,
        "wires": [
            [
                "2f983341c058114a",
                "194f8fe06ea1fd42",
                "1c2ee0b565f2f285"
            ],
            [
                "f8ab0cb904a6228f",
                "30276fc0888209bc"
            ],
            [
                "2f983341c058114a",
                "22334c8e4e205c28"
            ],
            [
                "f8ab0cb904a6228f",
                "82f53bde01dfe360"
            ],
            [
                "704431b809d3f274",
                "b3361b5ad825fefb"
            ]
        ]
    },
    {
        "id": "f8ab0cb904a6228f",
        "type": "ui_chart",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "391efe01648683f6",
        "order": 2,
        "width": "0",
        "height": "0",
        "label": "Humedad",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "200",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#2ca004",
            "#a30579",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1340,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "bfac1a8652a6fa76",
        "type": "function",
        "z": "cb2a027c8a35c6d5",
        "name": "Reset",
        "func": "return { payload: [], reset: true };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 960,
        "wires": [
            [
                "2f983341c058114a",
                "f8ab0cb904a6228f",
                "704431b809d3f274",
                "194f8fe06ea1fd42",
                "30276fc0888209bc",
                "22334c8e4e205c28",
                "82f53bde01dfe360",
                "b3361b5ad825fefb"
            ]
        ]
    },
    {
        "id": "53f11e469e839813",
        "type": "inject",
        "z": "cb2a027c8a35c6d5",
        "name": "inject",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 990,
        "y": 1000,
        "wires": [
            [
                "bfac1a8652a6fa76"
            ]
        ]
    },
    {
        "id": "704431b809d3f274",
        "type": "ui_chart",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "391efe01648683f6",
        "order": 2,
        "width": "0",
        "height": "0",
        "label": "Luminosidad",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "200",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ffcd1a",
            "#a30579",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1350,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "194f8fe06ea1fd42",
        "type": "ui_gauge",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "151cc1f2a491d75d",
        "order": 1,
        "width": "3",
        "height": "3",
        "gtype": "donut",
        "title": "Temp Ambiente",
        "label": " °C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#c3f92f",
            "#ebe300"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1360,
        "y": 920,
        "wires": []
    },
    {
        "id": "30276fc0888209bc",
        "type": "ui_gauge",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "151cc1f2a491d75d",
        "order": 3,
        "width": "3",
        "height": "3",
        "gtype": "wave",
        "title": "Hum Ambiente",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1360,
        "y": 960,
        "wires": []
    },
    {
        "id": "82f53bde01dfe360",
        "type": "ui_gauge",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "151cc1f2a491d75d",
        "order": 4,
        "width": "3",
        "height": "3",
        "gtype": "wave",
        "title": "Hum Suelo",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1350,
        "y": 1040,
        "wires": []
    },
    {
        "id": "b3361b5ad825fefb",
        "type": "ui_gauge",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "151cc1f2a491d75d",
        "order": 5,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "Luminosidad",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#170d9b",
            "#ffe100",
            "#ffe100"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1350,
        "y": 1080,
        "wires": []
    },
    {
        "id": "22334c8e4e205c28",
        "type": "ui_gauge",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "151cc1f2a491d75d",
        "order": 2,
        "width": "3",
        "height": "3",
        "gtype": "donut",
        "title": "Temp Suelo",
        "label": " °C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#c3f92f",
            "#ebe300"
        ],
        "seg1": "60",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1350,
        "y": 1000,
        "wires": []
    },
    {
        "id": "7015ccef7b05e5da",
        "type": "ui_slider",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "label": "Umbral",
        "tooltip": "",
        "group": "151cc1f2a491d75d",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 880,
        "y": 1200,
        "wires": [
            [
                "262313de4a685f69"
            ]
        ]
    },
    {
        "id": "9eb05140c71b58b3",
        "type": "ui_switch",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "label": "Modo de control: Auto / Manual",
        "tooltip": "",
        "group": "151cc1f2a491d75d",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 950,
        "y": 1140,
        "wires": [
            [
                "e8cd52d10941fe37"
            ]
        ]
    },
    {
        "id": "b998090768703e72",
        "type": "mqtt out",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ac2e1fc7abc358f8",
        "x": 1510,
        "y": 1200,
        "wires": []
    },
    {
        "id": "4bcc0249a7f55b7f",
        "type": "ui_switch",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "label": "Encendido manual: OFF / ON",
        "tooltip": "",
        "group": "151cc1f2a491d75d",
        "order": 8,
        "width": "0",
        "height": "0",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 950,
        "y": 1260,
        "wires": [
            [
                "56bd791717df2b90"
            ]
        ]
    },
    {
        "id": "93acaf55fb07140c",
        "type": "mqtt out",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ac2e1fc7abc358f8",
        "x": 1510,
        "y": 1140,
        "wires": []
    },
    {
        "id": "e497177eb987b428",
        "type": "mqtt out",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ac2e1fc7abc358f8",
        "x": 1510,
        "y": 1260,
        "wires": []
    },
    {
        "id": "fb23e01ca177bf27",
        "type": "function",
        "z": "cb2a027c8a35c6d5",
        "name": "function 4",
        "func": "msg.topic = \"esp32/\" + msg.group + \"/mode_hum\";\nmsg.payload = (msg.payload) ? \"manual\" : \"auto\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1360,
        "y": 1140,
        "wires": [
            [
                "93acaf55fb07140c"
            ]
        ]
    },
    {
        "id": "601cfbe19e084244",
        "type": "function",
        "z": "cb2a027c8a35c6d5",
        "name": "function 5",
        "func": "msg.topic = \"esp32/\" + msg.group + \"/manual_hum\";\nmsg.payload = (msg.payload) ? \"1\" : \"0\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1360,
        "y": 1260,
        "wires": [
            [
                "e497177eb987b428"
            ]
        ]
    },
    {
        "id": "d84538f3294ca2dd",
        "type": "function",
        "z": "cb2a027c8a35c6d5",
        "name": "function 6",
        "func": "msg.topic = \"esp32/\" + msg.group + \"/umbral_hum\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1360,
        "y": 1200,
        "wires": [
            [
                "b998090768703e72"
            ]
        ]
    },
    {
        "id": "e8cd52d10941fe37",
        "type": "change",
        "z": "cb2a027c8a35c6d5",
        "name": "Set Group ID",
        "rules": [
            {
                "t": "set",
                "p": "group",
                "pt": "msg",
                "to": "esp32-02",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1170,
        "y": 1140,
        "wires": [
            [
                "fb23e01ca177bf27"
            ]
        ]
    },
    {
        "id": "56bd791717df2b90",
        "type": "change",
        "z": "cb2a027c8a35c6d5",
        "name": "Set Group ID",
        "rules": [
            {
                "t": "set",
                "p": "group",
                "pt": "msg",
                "to": "esp32-02",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1170,
        "y": 1260,
        "wires": [
            [
                "601cfbe19e084244"
            ]
        ]
    },
    {
        "id": "262313de4a685f69",
        "type": "change",
        "z": "cb2a027c8a35c6d5",
        "name": "Set Group ID",
        "rules": [
            {
                "t": "set",
                "p": "group",
                "pt": "msg",
                "to": "esp32-02",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1170,
        "y": 1200,
        "wires": [
            [
                "d84538f3294ca2dd"
            ]
        ]
    },
    {
        "id": "1f694c5563267976",
        "type": "link in",
        "z": "cb2a027c8a35c6d5",
        "name": "link in 2",
        "links": [
            "7c6ce5ebe2a42a41"
        ],
        "x": 845,
        "y": 840,
        "wires": [
            [
                "143b7f10be31e9b1"
            ]
        ]
    },
    {
        "id": "e78b102c7cb5dc8f",
        "type": "ui_button",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "391efe01648683f6",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Limpiar",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 980,
        "y": 960,
        "wires": [
            [
                "bfac1a8652a6fa76"
            ]
        ]
    },
    {
        "id": "1c2ee0b565f2f285",
        "type": "debug",
        "z": "cb2a027c8a35c6d5",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1340,
        "y": 760,
        "wires": []
    },
    {
        "id": "d5cc7173caa735c7",
        "type": "ui_chart",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "6cfb9af9217653c4",
        "order": 1,
        "width": "0",
        "height": "0",
        "label": "Temperatura",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "200",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#ff7f0e",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1330,
        "y": 1440,
        "wires": [
            []
        ]
    },
    {
        "id": "78e83f4cd99fe405",
        "type": "function",
        "z": "cb2a027c8a35c6d5",
        "name": "Decodificar payload",
        "func": "let now = new Date().getTime();\n\nreturn [\n  { payload: msg.payload.tempA, topic: \"Temp. Amb.\", timestamp: now },\n  { payload: msg.payload.humA, topic: \"Humd. Amb.\", timestamp: now },\n  { payload: msg.payload.tempS, topic: \"Temp. Suelo\", timestamp: now },\n  { payload: msg.payload.humS, topic: \"Humd. Suelo.\", timestamp: now },\n  { payload: msg.payload.ldr, topic: \"Luz\", timestamp: now }\n];",
        "outputs": 5,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 1480,
        "wires": [
            [
                "d5cc7173caa735c7",
                "d53c410b72f081cc",
                "3d931918551bf2ee"
            ],
            [
                "3279ddf8e2dc9691",
                "1a4e92962321a402"
            ],
            [
                "d5cc7173caa735c7",
                "2e7c084eb7c9883b"
            ],
            [
                "3279ddf8e2dc9691",
                "cc9f7660c5644023"
            ],
            [
                "594f318496d35736",
                "78634f3d29739154"
            ]
        ]
    },
    {
        "id": "3279ddf8e2dc9691",
        "type": "ui_chart",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "6cfb9af9217653c4",
        "order": 2,
        "width": "0",
        "height": "0",
        "label": "Humedad",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "200",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#2ca004",
            "#a30579",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1320,
        "y": 1480,
        "wires": [
            []
        ]
    },
    {
        "id": "e50b1e32c667efa9",
        "type": "function",
        "z": "cb2a027c8a35c6d5",
        "name": "Reset",
        "func": "return { payload: [], reset: true };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 1600,
        "wires": [
            [
                "d5cc7173caa735c7",
                "3279ddf8e2dc9691",
                "594f318496d35736",
                "d53c410b72f081cc",
                "1a4e92962321a402",
                "2e7c084eb7c9883b",
                "cc9f7660c5644023",
                "78634f3d29739154"
            ]
        ]
    },
    {
        "id": "2aef02efae825937",
        "type": "inject",
        "z": "cb2a027c8a35c6d5",
        "name": "inject",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 970,
        "y": 1640,
        "wires": [
            [
                "e50b1e32c667efa9"
            ]
        ]
    },
    {
        "id": "594f318496d35736",
        "type": "ui_chart",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "6cfb9af9217653c4",
        "order": 2,
        "width": "0",
        "height": "0",
        "label": "Luminosidad",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "200",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ffcd1a",
            "#a30579",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1330,
        "y": 1520,
        "wires": [
            []
        ]
    },
    {
        "id": "d53c410b72f081cc",
        "type": "ui_gauge",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "01deb8248c48dc21",
        "order": 1,
        "width": "3",
        "height": "3",
        "gtype": "donut",
        "title": "Temp Ambiente",
        "label": " °C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#c3f92f",
            "#ebe300"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1340,
        "y": 1560,
        "wires": []
    },
    {
        "id": "1a4e92962321a402",
        "type": "ui_gauge",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "01deb8248c48dc21",
        "order": 3,
        "width": "3",
        "height": "3",
        "gtype": "wave",
        "title": "Hum Ambiente",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1340,
        "y": 1600,
        "wires": []
    },
    {
        "id": "cc9f7660c5644023",
        "type": "ui_gauge",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "01deb8248c48dc21",
        "order": 4,
        "width": "3",
        "height": "3",
        "gtype": "wave",
        "title": "Hum Suelo",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1330,
        "y": 1680,
        "wires": []
    },
    {
        "id": "78634f3d29739154",
        "type": "ui_gauge",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "01deb8248c48dc21",
        "order": 5,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "Luminosidad",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#170d9b",
            "#ffe100",
            "#ffe100"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1330,
        "y": 1720,
        "wires": []
    },
    {
        "id": "2e7c084eb7c9883b",
        "type": "ui_gauge",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "01deb8248c48dc21",
        "order": 2,
        "width": "3",
        "height": "3",
        "gtype": "donut",
        "title": "Temp Suelo",
        "label": " °C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#c3f92f",
            "#ebe300"
        ],
        "seg1": "60",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1330,
        "y": 1640,
        "wires": []
    },
    {
        "id": "1094731ee11913c8",
        "type": "ui_slider",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "label": "Umbral",
        "tooltip": "",
        "group": "01deb8248c48dc21",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 860,
        "y": 1840,
        "wires": [
            [
                "6b95c71f091388d1"
            ]
        ]
    },
    {
        "id": "0e0fd072a0dc0fe4",
        "type": "ui_switch",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "label": "Modo de control: Auto / Manual",
        "tooltip": "",
        "group": "01deb8248c48dc21",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 930,
        "y": 1780,
        "wires": [
            [
                "30d71bb56c3525c1"
            ]
        ]
    },
    {
        "id": "f01d9841bf9db926",
        "type": "mqtt out",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ac2e1fc7abc358f8",
        "x": 1490,
        "y": 1840,
        "wires": []
    },
    {
        "id": "480d8665291b12ed",
        "type": "ui_switch",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "label": "Encendido manual: OFF / ON",
        "tooltip": "",
        "group": "01deb8248c48dc21",
        "order": 8,
        "width": "0",
        "height": "0",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 930,
        "y": 1900,
        "wires": [
            [
                "b5b71cfb5fbe1bf5"
            ]
        ]
    },
    {
        "id": "845efdd3bf0d395d",
        "type": "mqtt out",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ac2e1fc7abc358f8",
        "x": 1490,
        "y": 1780,
        "wires": []
    },
    {
        "id": "4e5e064f6a6aa924",
        "type": "mqtt out",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ac2e1fc7abc358f8",
        "x": 1490,
        "y": 1900,
        "wires": []
    },
    {
        "id": "d9db5f0808b2750c",
        "type": "function",
        "z": "cb2a027c8a35c6d5",
        "name": "function 7",
        "func": "msg.topic = \"esp32/\" + msg.group + \"/mode_hum\";\nmsg.payload = (msg.payload) ? \"manual\" : \"auto\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 1780,
        "wires": [
            [
                "845efdd3bf0d395d"
            ]
        ]
    },
    {
        "id": "3457af1dd84b5226",
        "type": "function",
        "z": "cb2a027c8a35c6d5",
        "name": "function 8",
        "func": "msg.topic = \"esp32/\" + msg.group + \"/manual_hum\";\nmsg.payload = (msg.payload) ? \"1\" : \"0\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 1900,
        "wires": [
            [
                "4e5e064f6a6aa924"
            ]
        ]
    },
    {
        "id": "a7489890a40333bb",
        "type": "function",
        "z": "cb2a027c8a35c6d5",
        "name": "function 9",
        "func": "msg.topic = \"esp32/\" + msg.group + \"/umbral_hum\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 1840,
        "wires": [
            [
                "f01d9841bf9db926"
            ]
        ]
    },
    {
        "id": "30d71bb56c3525c1",
        "type": "change",
        "z": "cb2a027c8a35c6d5",
        "name": "Set Group ID",
        "rules": [
            {
                "t": "set",
                "p": "group",
                "pt": "msg",
                "to": "esp32-03",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1150,
        "y": 1780,
        "wires": [
            [
                "d9db5f0808b2750c"
            ]
        ]
    },
    {
        "id": "b5b71cfb5fbe1bf5",
        "type": "change",
        "z": "cb2a027c8a35c6d5",
        "name": "Set Group ID",
        "rules": [
            {
                "t": "set",
                "p": "group",
                "pt": "msg",
                "to": "esp32-03",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1150,
        "y": 1900,
        "wires": [
            [
                "3457af1dd84b5226"
            ]
        ]
    },
    {
        "id": "6b95c71f091388d1",
        "type": "change",
        "z": "cb2a027c8a35c6d5",
        "name": "Set Group ID",
        "rules": [
            {
                "t": "set",
                "p": "group",
                "pt": "msg",
                "to": "esp32-03",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1150,
        "y": 1840,
        "wires": [
            [
                "a7489890a40333bb"
            ]
        ]
    },
    {
        "id": "e9c72cfd5baa76d6",
        "type": "link in",
        "z": "cb2a027c8a35c6d5",
        "name": "link in 3",
        "links": [
            "9cd29618a9da4e49"
        ],
        "x": 825,
        "y": 1480,
        "wires": [
            [
                "78e83f4cd99fe405"
            ]
        ]
    },
    {
        "id": "4bad948fa67d283a",
        "type": "ui_button",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "6cfb9af9217653c4",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Limpiar",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 960,
        "y": 1600,
        "wires": [
            [
                "e50b1e32c667efa9"
            ]
        ]
    },
    {
        "id": "3d931918551bf2ee",
        "type": "debug",
        "z": "cb2a027c8a35c6d5",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1320,
        "y": 1400,
        "wires": []
    },
    {
        "id": "f95704f443bf498e",
        "type": "ui_chart",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "6c397f7463767735",
        "order": 1,
        "width": "0",
        "height": "0",
        "label": "Temperatura",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "200",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#ff7f0e",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1330,
        "y": 2080,
        "wires": [
            []
        ]
    },
    {
        "id": "4f7f61b67b919965",
        "type": "function",
        "z": "cb2a027c8a35c6d5",
        "name": "Decodificar payload",
        "func": "let now = new Date().getTime();\n\nreturn [\n  { payload: msg.payload.tempA, topic: \"Temp. Amb.\", timestamp: now },\n  { payload: msg.payload.humA, topic: \"Humd. Amb.\", timestamp: now },\n  { payload: msg.payload.tempS, topic: \"Temp. Suelo\", timestamp: now },\n  { payload: msg.payload.humS, topic: \"Humd. Suelo.\", timestamp: now },\n  { payload: msg.payload.ldr, topic: \"Luz\", timestamp: now }\n];",
        "outputs": 5,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 2120,
        "wires": [
            [
                "f95704f443bf498e",
                "7fb83c5cb56b6035",
                "2b5e9dbd85ffee45"
            ],
            [
                "1fa18a5b05f275e6",
                "5d16435b32b24388"
            ],
            [
                "f95704f443bf498e",
                "58c4ced5c0271d7e"
            ],
            [
                "1fa18a5b05f275e6",
                "772b3f5a8c7ed0e7"
            ],
            [
                "a5d4b6890861260a",
                "1cd29d9abe2b5237"
            ]
        ]
    },
    {
        "id": "1fa18a5b05f275e6",
        "type": "ui_chart",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "6c397f7463767735",
        "order": 2,
        "width": "0",
        "height": "0",
        "label": "Humedad",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "200",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#2ca004",
            "#a30579",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1320,
        "y": 2120,
        "wires": [
            []
        ]
    },
    {
        "id": "bd4e9641e39c6269",
        "type": "function",
        "z": "cb2a027c8a35c6d5",
        "name": "Reset",
        "func": "return { payload: [], reset: true };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 2240,
        "wires": [
            [
                "f95704f443bf498e",
                "1fa18a5b05f275e6",
                "a5d4b6890861260a",
                "7fb83c5cb56b6035",
                "5d16435b32b24388",
                "58c4ced5c0271d7e",
                "772b3f5a8c7ed0e7",
                "1cd29d9abe2b5237"
            ]
        ]
    },
    {
        "id": "7f7822cc5b204eb7",
        "type": "inject",
        "z": "cb2a027c8a35c6d5",
        "name": "inject",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 970,
        "y": 2280,
        "wires": [
            [
                "bd4e9641e39c6269"
            ]
        ]
    },
    {
        "id": "a5d4b6890861260a",
        "type": "ui_chart",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "6c397f7463767735",
        "order": 2,
        "width": "0",
        "height": "0",
        "label": "Luminosidad",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "200",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ffcd1a",
            "#a30579",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1330,
        "y": 2160,
        "wires": [
            []
        ]
    },
    {
        "id": "7fb83c5cb56b6035",
        "type": "ui_gauge",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "935f9e161378f95c",
        "order": 1,
        "width": "3",
        "height": "3",
        "gtype": "donut",
        "title": "Temp Ambiente",
        "label": " °C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#c3f92f",
            "#ebe300"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1340,
        "y": 2200,
        "wires": []
    },
    {
        "id": "5d16435b32b24388",
        "type": "ui_gauge",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "935f9e161378f95c",
        "order": 3,
        "width": "3",
        "height": "3",
        "gtype": "wave",
        "title": "Hum Ambiente",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1340,
        "y": 2240,
        "wires": []
    },
    {
        "id": "772b3f5a8c7ed0e7",
        "type": "ui_gauge",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "935f9e161378f95c",
        "order": 4,
        "width": "3",
        "height": "3",
        "gtype": "wave",
        "title": "Hum Suelo",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1330,
        "y": 2320,
        "wires": []
    },
    {
        "id": "1cd29d9abe2b5237",
        "type": "ui_gauge",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "935f9e161378f95c",
        "order": 5,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "Luminosidad",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#170d9b",
            "#ffe100",
            "#ffe100"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1330,
        "y": 2360,
        "wires": []
    },
    {
        "id": "58c4ced5c0271d7e",
        "type": "ui_gauge",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "935f9e161378f95c",
        "order": 2,
        "width": "3",
        "height": "3",
        "gtype": "donut",
        "title": "Temp Suelo",
        "label": " °C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#c3f92f",
            "#ebe300"
        ],
        "seg1": "60",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1330,
        "y": 2280,
        "wires": []
    },
    {
        "id": "c26394de00190329",
        "type": "ui_slider",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "label": "Umbral",
        "tooltip": "",
        "group": "935f9e161378f95c",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 860,
        "y": 2480,
        "wires": [
            [
                "4876c7cf98518f84"
            ]
        ]
    },
    {
        "id": "7e31c137df3a072e",
        "type": "ui_switch",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "label": "Modo de control: Auto / Manual",
        "tooltip": "",
        "group": "935f9e161378f95c",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 930,
        "y": 2420,
        "wires": [
            [
                "03dcf2f24575c75f"
            ]
        ]
    },
    {
        "id": "1acffcec493d67bc",
        "type": "mqtt out",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ac2e1fc7abc358f8",
        "x": 1490,
        "y": 2480,
        "wires": []
    },
    {
        "id": "ed3558901b138944",
        "type": "ui_switch",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "label": "Encendido manual: OFF / ON",
        "tooltip": "",
        "group": "935f9e161378f95c",
        "order": 8,
        "width": "0",
        "height": "0",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 930,
        "y": 2540,
        "wires": [
            [
                "e550cdcc17f603e8"
            ]
        ]
    },
    {
        "id": "32d38e60e5742cb4",
        "type": "mqtt out",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ac2e1fc7abc358f8",
        "x": 1490,
        "y": 2420,
        "wires": []
    },
    {
        "id": "bd7d1baf632815bf",
        "type": "mqtt out",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ac2e1fc7abc358f8",
        "x": 1490,
        "y": 2540,
        "wires": []
    },
    {
        "id": "860ee47d49f9f388",
        "type": "function",
        "z": "cb2a027c8a35c6d5",
        "name": "function 10",
        "func": "msg.topic = \"esp32/\" + msg.group + \"/mode_hum\";\nmsg.payload = (msg.payload) ? \"manual\" : \"auto\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 2420,
        "wires": [
            [
                "32d38e60e5742cb4"
            ]
        ]
    },
    {
        "id": "9cae0e42b85ec177",
        "type": "function",
        "z": "cb2a027c8a35c6d5",
        "name": "function 11",
        "func": "msg.topic = \"esp32/\" + msg.group + \"/manual_hum\";\nmsg.payload = (msg.payload) ? \"1\" : \"0\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 2540,
        "wires": [
            [
                "bd7d1baf632815bf"
            ]
        ]
    },
    {
        "id": "f6465eef4e48a00c",
        "type": "function",
        "z": "cb2a027c8a35c6d5",
        "name": "function 12",
        "func": "msg.topic = \"esp32/\" + msg.group + \"/umbral_hum\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 2480,
        "wires": [
            [
                "1acffcec493d67bc"
            ]
        ]
    },
    {
        "id": "03dcf2f24575c75f",
        "type": "change",
        "z": "cb2a027c8a35c6d5",
        "name": "Set Group ID",
        "rules": [
            {
                "t": "set",
                "p": "group",
                "pt": "msg",
                "to": "esp32-04",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1150,
        "y": 2420,
        "wires": [
            [
                "860ee47d49f9f388"
            ]
        ]
    },
    {
        "id": "e550cdcc17f603e8",
        "type": "change",
        "z": "cb2a027c8a35c6d5",
        "name": "Set Group ID",
        "rules": [
            {
                "t": "set",
                "p": "group",
                "pt": "msg",
                "to": "esp32-04",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1150,
        "y": 2540,
        "wires": [
            [
                "9cae0e42b85ec177"
            ]
        ]
    },
    {
        "id": "4876c7cf98518f84",
        "type": "change",
        "z": "cb2a027c8a35c6d5",
        "name": "Set Group ID",
        "rules": [
            {
                "t": "set",
                "p": "group",
                "pt": "msg",
                "to": "esp32-04",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1150,
        "y": 2480,
        "wires": [
            [
                "f6465eef4e48a00c"
            ]
        ]
    },
    {
        "id": "998aa861e25d74c1",
        "type": "link in",
        "z": "cb2a027c8a35c6d5",
        "name": "link in 4",
        "links": [
            "fa6e73c3c5ab8190"
        ],
        "x": 825,
        "y": 2120,
        "wires": [
            [
                "4f7f61b67b919965"
            ]
        ]
    },
    {
        "id": "31038fd2b3fbb6cc",
        "type": "ui_button",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "6c397f7463767735",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Limpiar",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 960,
        "y": 2240,
        "wires": [
            [
                "bd4e9641e39c6269"
            ]
        ]
    },
    {
        "id": "2b5e9dbd85ffee45",
        "type": "debug",
        "z": "cb2a027c8a35c6d5",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1320,
        "y": 2040,
        "wires": []
    },
    {
        "id": "733a4cc0e8bcfa45",
        "type": "link out",
        "z": "cb2a027c8a35c6d5",
        "name": "link out 10",
        "mode": "link",
        "links": [
            "664c9e6be33ca4ca"
        ],
        "x": 605,
        "y": 740,
        "wires": []
    },
    {
        "id": "2854fe962be63a66",
        "type": "ui_chart",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "a6377d7c2c7cc036",
        "order": 1,
        "width": "0",
        "height": "0",
        "label": "Temperatura",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "200",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#ff7f0e",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1330,
        "y": 2680,
        "wires": [
            []
        ]
    },
    {
        "id": "41b10a9f962beee7",
        "type": "function",
        "z": "cb2a027c8a35c6d5",
        "name": "Decodificar payload",
        "func": "let now = new Date().getTime();\n\nreturn [\n  { payload: msg.payload.tempA, topic: \"Temp. Amb.\", timestamp: now },\n  { payload: msg.payload.humA, topic: \"Humd. Amb.\", timestamp: now },\n  { payload: msg.payload.tempS, topic: \"Temp. Suelo\", timestamp: now },\n  { payload: msg.payload.humS, topic: \"Humd. Suelo.\", timestamp: now },\n  { payload: msg.payload.ldr, topic: \"Luz\", timestamp: now }\n];",
        "outputs": 5,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 2720,
        "wires": [
            [
                "2854fe962be63a66",
                "dbc054de4b6998ce",
                "6481051c423e5de0"
            ],
            [
                "8e4da06c008b3b86",
                "19a4312a2fb847a8"
            ],
            [
                "2854fe962be63a66",
                "e7b7200ea79e7680"
            ],
            [
                "8e4da06c008b3b86",
                "9bfbf54b2ecfc844"
            ],
            [
                "4367acc099b11f8e",
                "ed745f3141db95df"
            ]
        ]
    },
    {
        "id": "8e4da06c008b3b86",
        "type": "ui_chart",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "a6377d7c2c7cc036",
        "order": 2,
        "width": "0",
        "height": "0",
        "label": "Humedad",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "200",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#2ca004",
            "#a30579",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1320,
        "y": 2720,
        "wires": [
            []
        ]
    },
    {
        "id": "0be3590eed2ee49b",
        "type": "function",
        "z": "cb2a027c8a35c6d5",
        "name": "Reset",
        "func": "return { payload: [], reset: true };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 2840,
        "wires": [
            [
                "2854fe962be63a66",
                "8e4da06c008b3b86",
                "4367acc099b11f8e",
                "dbc054de4b6998ce",
                "19a4312a2fb847a8",
                "e7b7200ea79e7680",
                "9bfbf54b2ecfc844",
                "ed745f3141db95df"
            ]
        ]
    },
    {
        "id": "5b94daf22b202240",
        "type": "inject",
        "z": "cb2a027c8a35c6d5",
        "name": "inject",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 970,
        "y": 2880,
        "wires": [
            [
                "0be3590eed2ee49b"
            ]
        ]
    },
    {
        "id": "4367acc099b11f8e",
        "type": "ui_chart",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "a6377d7c2c7cc036",
        "order": 2,
        "width": "0",
        "height": "0",
        "label": "Luminosidad",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "200",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ffcd1a",
            "#a30579",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1330,
        "y": 2760,
        "wires": [
            []
        ]
    },
    {
        "id": "dbc054de4b6998ce",
        "type": "ui_gauge",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "35e8b767eb4cd81c",
        "order": 1,
        "width": "3",
        "height": "3",
        "gtype": "donut",
        "title": "Temp Ambiente",
        "label": " °C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#c3f92f",
            "#ebe300"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1340,
        "y": 2800,
        "wires": []
    },
    {
        "id": "19a4312a2fb847a8",
        "type": "ui_gauge",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "35e8b767eb4cd81c",
        "order": 3,
        "width": "3",
        "height": "3",
        "gtype": "wave",
        "title": "Hum Ambiente",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1340,
        "y": 2840,
        "wires": []
    },
    {
        "id": "9bfbf54b2ecfc844",
        "type": "ui_gauge",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "35e8b767eb4cd81c",
        "order": 4,
        "width": "3",
        "height": "3",
        "gtype": "wave",
        "title": "Hum Suelo",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1330,
        "y": 2920,
        "wires": []
    },
    {
        "id": "ed745f3141db95df",
        "type": "ui_gauge",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "35e8b767eb4cd81c",
        "order": 5,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "Luminosidad",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#170d9b",
            "#ffe100",
            "#ffe100"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1330,
        "y": 2960,
        "wires": []
    },
    {
        "id": "e7b7200ea79e7680",
        "type": "ui_gauge",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "35e8b767eb4cd81c",
        "order": 2,
        "width": "3",
        "height": "3",
        "gtype": "donut",
        "title": "Temp Suelo",
        "label": " °C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#c3f92f",
            "#ebe300"
        ],
        "seg1": "60",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1330,
        "y": 2880,
        "wires": []
    },
    {
        "id": "86c1a28746241f4f",
        "type": "ui_slider",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "label": "Umbral",
        "tooltip": "",
        "group": "35e8b767eb4cd81c",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 860,
        "y": 3080,
        "wires": [
            [
                "0343bf4b398a9a8a"
            ]
        ]
    },
    {
        "id": "22c584434783b29c",
        "type": "ui_switch",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "label": "Modo de control: Auto / Manual",
        "tooltip": "",
        "group": "35e8b767eb4cd81c",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 930,
        "y": 3020,
        "wires": [
            [
                "9de70c91d9b61f8c"
            ]
        ]
    },
    {
        "id": "9e568c6396085eae",
        "type": "mqtt out",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ac2e1fc7abc358f8",
        "x": 1490,
        "y": 3080,
        "wires": []
    },
    {
        "id": "fb4076c663ff5cbd",
        "type": "ui_switch",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "label": "Encendido manual: OFF / ON",
        "tooltip": "",
        "group": "35e8b767eb4cd81c",
        "order": 8,
        "width": "0",
        "height": "0",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 930,
        "y": 3140,
        "wires": [
            [
                "5ad43aac6bdfa520"
            ]
        ]
    },
    {
        "id": "dfe9f36174aa1178",
        "type": "mqtt out",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ac2e1fc7abc358f8",
        "x": 1490,
        "y": 3020,
        "wires": []
    },
    {
        "id": "65d5917d06cfb2f6",
        "type": "mqtt out",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ac2e1fc7abc358f8",
        "x": 1490,
        "y": 3140,
        "wires": []
    },
    {
        "id": "239293012e3e8db8",
        "type": "function",
        "z": "cb2a027c8a35c6d5",
        "name": "function 13",
        "func": "msg.topic = \"esp32/\" + msg.group + \"/mode_hum\";\nmsg.payload = (msg.payload) ? \"manual\" : \"auto\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 3020,
        "wires": [
            [
                "dfe9f36174aa1178"
            ]
        ]
    },
    {
        "id": "913c98d7e36714a3",
        "type": "function",
        "z": "cb2a027c8a35c6d5",
        "name": "function 14",
        "func": "msg.topic = \"esp32/\" + msg.group + \"/manual_hum\";\nmsg.payload = (msg.payload) ? \"1\" : \"0\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 3140,
        "wires": [
            [
                "65d5917d06cfb2f6"
            ]
        ]
    },
    {
        "id": "0dcd2fd68919a74c",
        "type": "function",
        "z": "cb2a027c8a35c6d5",
        "name": "function 15",
        "func": "msg.topic = \"esp32/\" + msg.group + \"/umbral_hum\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 3080,
        "wires": [
            [
                "9e568c6396085eae"
            ]
        ]
    },
    {
        "id": "9de70c91d9b61f8c",
        "type": "change",
        "z": "cb2a027c8a35c6d5",
        "name": "Set Group ID",
        "rules": [
            {
                "t": "set",
                "p": "group",
                "pt": "msg",
                "to": "esp32-05",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1150,
        "y": 3020,
        "wires": [
            [
                "239293012e3e8db8"
            ]
        ]
    },
    {
        "id": "5ad43aac6bdfa520",
        "type": "change",
        "z": "cb2a027c8a35c6d5",
        "name": "Set Group ID",
        "rules": [
            {
                "t": "set",
                "p": "group",
                "pt": "msg",
                "to": "esp32-05",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1150,
        "y": 3140,
        "wires": [
            [
                "913c98d7e36714a3"
            ]
        ]
    },
    {
        "id": "0343bf4b398a9a8a",
        "type": "change",
        "z": "cb2a027c8a35c6d5",
        "name": "Set Group ID",
        "rules": [
            {
                "t": "set",
                "p": "group",
                "pt": "msg",
                "to": "esp32-05",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1150,
        "y": 3080,
        "wires": [
            [
                "0dcd2fd68919a74c"
            ]
        ]
    },
    {
        "id": "4f3c6bfc6ba05f38",
        "type": "link in",
        "z": "cb2a027c8a35c6d5",
        "name": "link in 5",
        "links": [
            "6bb4ce544d84aba4"
        ],
        "x": 825,
        "y": 2720,
        "wires": [
            [
                "41b10a9f962beee7"
            ]
        ]
    },
    {
        "id": "e77885c93519ad95",
        "type": "ui_button",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "a6377d7c2c7cc036",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Limpiar",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 960,
        "y": 2840,
        "wires": [
            [
                "0be3590eed2ee49b"
            ]
        ]
    },
    {
        "id": "6481051c423e5de0",
        "type": "debug",
        "z": "cb2a027c8a35c6d5",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1320,
        "y": 2640,
        "wires": []
    },
    {
        "id": "baa4e0b8c22086ab",
        "type": "ui_chart",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "22b5d0687927e07e",
        "order": 1,
        "width": "0",
        "height": "0",
        "label": "Temperatura",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "200",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#ff7f0e",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 2270,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "2f8bf3409fa4808e",
        "type": "function",
        "z": "cb2a027c8a35c6d5",
        "name": "Decodificar payload",
        "func": "let now = new Date().getTime();\n\nreturn [\n  { payload: msg.payload.tempA, topic: \"Temp. Amb.\", timestamp: now },\n  { payload: msg.payload.humA, topic: \"Humd. Amb.\", timestamp: now },\n  { payload: msg.payload.tempS, topic: \"Temp. Suelo\", timestamp: now },\n  { payload: msg.payload.humS, topic: \"Humd. Suelo.\", timestamp: now },\n  { payload: msg.payload.ldr, topic: \"Luz\", timestamp: now }\n];",
        "outputs": 5,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1910,
        "y": 240,
        "wires": [
            [
                "baa4e0b8c22086ab",
                "04eb13313fac6033",
                "922f9ada8ff0b21c"
            ],
            [
                "a261324316f65d9f",
                "a851efae105147d0"
            ],
            [
                "baa4e0b8c22086ab",
                "a5ad8b12548cb1f2"
            ],
            [
                "a261324316f65d9f",
                "b2a3dce50b8f6b85"
            ],
            [
                "de2ef014ee37d016",
                "280f23279a091a14"
            ]
        ]
    },
    {
        "id": "a261324316f65d9f",
        "type": "ui_chart",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "22b5d0687927e07e",
        "order": 2,
        "width": "0",
        "height": "0",
        "label": "Humedad",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "200",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#2ca004",
            "#a30579",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 2260,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "27bf108d2f2a957b",
        "type": "function",
        "z": "cb2a027c8a35c6d5",
        "name": "Reset",
        "func": "return { payload: [], reset: true };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2050,
        "y": 360,
        "wires": [
            [
                "baa4e0b8c22086ab",
                "a261324316f65d9f",
                "de2ef014ee37d016",
                "04eb13313fac6033",
                "a851efae105147d0",
                "a5ad8b12548cb1f2",
                "b2a3dce50b8f6b85",
                "280f23279a091a14"
            ]
        ]
    },
    {
        "id": "589777025b469fa7",
        "type": "inject",
        "z": "cb2a027c8a35c6d5",
        "name": "inject",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 1910,
        "y": 400,
        "wires": [
            [
                "27bf108d2f2a957b"
            ]
        ]
    },
    {
        "id": "de2ef014ee37d016",
        "type": "ui_chart",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "22b5d0687927e07e",
        "order": 2,
        "width": "0",
        "height": "0",
        "label": "Luminosidad",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "200",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ffcd1a",
            "#a30579",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 2270,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "04eb13313fac6033",
        "type": "ui_gauge",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "de6e1dbadb720168",
        "order": 1,
        "width": "3",
        "height": "3",
        "gtype": "donut",
        "title": "Temp Ambiente",
        "label": " °C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#c3f92f",
            "#ebe300"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 2280,
        "y": 320,
        "wires": []
    },
    {
        "id": "a851efae105147d0",
        "type": "ui_gauge",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "de6e1dbadb720168",
        "order": 3,
        "width": "3",
        "height": "3",
        "gtype": "wave",
        "title": "Hum Ambiente",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 2280,
        "y": 360,
        "wires": []
    },
    {
        "id": "b2a3dce50b8f6b85",
        "type": "ui_gauge",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "de6e1dbadb720168",
        "order": 4,
        "width": "3",
        "height": "3",
        "gtype": "wave",
        "title": "Hum Suelo",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 2270,
        "y": 440,
        "wires": []
    },
    {
        "id": "280f23279a091a14",
        "type": "ui_gauge",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "de6e1dbadb720168",
        "order": 5,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "Luminosidad",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#170d9b",
            "#ffe100",
            "#ffe100"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 2270,
        "y": 480,
        "wires": []
    },
    {
        "id": "a5ad8b12548cb1f2",
        "type": "ui_gauge",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "de6e1dbadb720168",
        "order": 2,
        "width": "3",
        "height": "3",
        "gtype": "donut",
        "title": "Temp Suelo",
        "label": " °C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#c3f92f",
            "#ebe300"
        ],
        "seg1": "60",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 2270,
        "y": 400,
        "wires": []
    },
    {
        "id": "ae89001af6e10438",
        "type": "ui_slider",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "label": "Umbral",
        "tooltip": "",
        "group": "de6e1dbadb720168",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 1800,
        "y": 600,
        "wires": [
            [
                "642935af5bcd9ffe"
            ]
        ]
    },
    {
        "id": "58020f993f4436d3",
        "type": "ui_switch",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "label": "Modo de control: Auto / Manual",
        "tooltip": "",
        "group": "de6e1dbadb720168",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1870,
        "y": 540,
        "wires": [
            [
                "ca642de5d42686ee"
            ]
        ]
    },
    {
        "id": "6e080ebff87f3e61",
        "type": "mqtt out",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ac2e1fc7abc358f8",
        "x": 2430,
        "y": 600,
        "wires": []
    },
    {
        "id": "4cc8f4b3805ba0ae",
        "type": "ui_switch",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "label": "Encendido manual: OFF / ON",
        "tooltip": "",
        "group": "de6e1dbadb720168",
        "order": 8,
        "width": "0",
        "height": "0",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 1870,
        "y": 660,
        "wires": [
            [
                "8f488af4702840c1"
            ]
        ]
    },
    {
        "id": "312478d0c503d8a4",
        "type": "mqtt out",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ac2e1fc7abc358f8",
        "x": 2430,
        "y": 540,
        "wires": []
    },
    {
        "id": "1c5678f7e4344fa5",
        "type": "mqtt out",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ac2e1fc7abc358f8",
        "x": 2430,
        "y": 660,
        "wires": []
    },
    {
        "id": "906bfd18c977fdbe",
        "type": "function",
        "z": "cb2a027c8a35c6d5",
        "name": "function 16",
        "func": "msg.topic = \"esp32/\" + msg.group + \"/mode_hum\";\nmsg.payload = (msg.payload) ? \"manual\" : \"auto\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2280,
        "y": 540,
        "wires": [
            [
                "312478d0c503d8a4"
            ]
        ]
    },
    {
        "id": "baf9ea51fd7d9af0",
        "type": "function",
        "z": "cb2a027c8a35c6d5",
        "name": "function 17",
        "func": "msg.topic = \"esp32/\" + msg.group + \"/manual_hum\";\nmsg.payload = (msg.payload) ? \"1\" : \"0\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2280,
        "y": 660,
        "wires": [
            [
                "1c5678f7e4344fa5"
            ]
        ]
    },
    {
        "id": "bab160421a97c50c",
        "type": "function",
        "z": "cb2a027c8a35c6d5",
        "name": "function 18",
        "func": "msg.topic = \"esp32/\" + msg.group + \"/umbral_hum\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2280,
        "y": 600,
        "wires": [
            [
                "6e080ebff87f3e61"
            ]
        ]
    },
    {
        "id": "ca642de5d42686ee",
        "type": "change",
        "z": "cb2a027c8a35c6d5",
        "name": "Set Group ID",
        "rules": [
            {
                "t": "set",
                "p": "group",
                "pt": "msg",
                "to": "esp32-06",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2090,
        "y": 540,
        "wires": [
            [
                "906bfd18c977fdbe"
            ]
        ]
    },
    {
        "id": "8f488af4702840c1",
        "type": "change",
        "z": "cb2a027c8a35c6d5",
        "name": "Set Group ID",
        "rules": [
            {
                "t": "set",
                "p": "group",
                "pt": "msg",
                "to": "esp32-06",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2090,
        "y": 660,
        "wires": [
            [
                "baf9ea51fd7d9af0"
            ]
        ]
    },
    {
        "id": "642935af5bcd9ffe",
        "type": "change",
        "z": "cb2a027c8a35c6d5",
        "name": "Set Group ID",
        "rules": [
            {
                "t": "set",
                "p": "group",
                "pt": "msg",
                "to": "esp32-06",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2090,
        "y": 600,
        "wires": [
            [
                "bab160421a97c50c"
            ]
        ]
    },
    {
        "id": "7b1c0eb3868b11e4",
        "type": "link in",
        "z": "cb2a027c8a35c6d5",
        "name": "link in 6",
        "links": [
            "bf4d8fb90bd4977c"
        ],
        "x": 1765,
        "y": 240,
        "wires": [
            [
                "2f8bf3409fa4808e"
            ]
        ]
    },
    {
        "id": "96193e97dec370bc",
        "type": "ui_button",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "22b5d0687927e07e",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Limpiar",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1900,
        "y": 360,
        "wires": [
            [
                "27bf108d2f2a957b"
            ]
        ]
    },
    {
        "id": "922f9ada8ff0b21c",
        "type": "debug",
        "z": "cb2a027c8a35c6d5",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2260,
        "y": 160,
        "wires": []
    },
    {
        "id": "450249d590f06b64",
        "type": "ui_chart",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "637385e0de58f387",
        "order": 1,
        "width": "0",
        "height": "0",
        "label": "Temperatura",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "200",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#ff7f0e",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 2270,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "b0c6e0ebf3ceefed",
        "type": "function",
        "z": "cb2a027c8a35c6d5",
        "name": "Decodificar payload",
        "func": "let now = new Date().getTime();\n\nreturn [\n  { payload: msg.payload.tempA, topic: \"Temp. Amb.\", timestamp: now },\n  { payload: msg.payload.humA, topic: \"Humd. Amb.\", timestamp: now },\n  { payload: msg.payload.tempS, topic: \"Temp. Suelo\", timestamp: now },\n  { payload: msg.payload.humS, topic: \"Humd. Suelo.\", timestamp: now },\n  { payload: msg.payload.ldr, topic: \"Luz\", timestamp: now }\n];",
        "outputs": 5,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1910,
        "y": 840,
        "wires": [
            [
                "450249d590f06b64",
                "5f098ad9c72246bf",
                "5fad8b5dcae44d6f"
            ],
            [
                "646935e2f31ac149",
                "fc62970d206ffcbd"
            ],
            [
                "450249d590f06b64",
                "fc8643a0124be3d9"
            ],
            [
                "646935e2f31ac149",
                "70361d39bd571e14"
            ],
            [
                "8a092149282ee80c",
                "641ea53b8bbe884c"
            ]
        ]
    },
    {
        "id": "646935e2f31ac149",
        "type": "ui_chart",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "637385e0de58f387",
        "order": 2,
        "width": "0",
        "height": "0",
        "label": "Humedad",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "200",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#2ca004",
            "#a30579",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 2260,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "14d21e65c1e58209",
        "type": "function",
        "z": "cb2a027c8a35c6d5",
        "name": "Reset",
        "func": "return { payload: [], reset: true };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2050,
        "y": 960,
        "wires": [
            [
                "450249d590f06b64",
                "646935e2f31ac149",
                "8a092149282ee80c",
                "5f098ad9c72246bf",
                "fc62970d206ffcbd",
                "fc8643a0124be3d9",
                "70361d39bd571e14",
                "641ea53b8bbe884c"
            ]
        ]
    },
    {
        "id": "00fe731ffe050baa",
        "type": "inject",
        "z": "cb2a027c8a35c6d5",
        "name": "inject",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 1910,
        "y": 1000,
        "wires": [
            [
                "14d21e65c1e58209"
            ]
        ]
    },
    {
        "id": "8a092149282ee80c",
        "type": "ui_chart",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "637385e0de58f387",
        "order": 2,
        "width": "0",
        "height": "0",
        "label": "Luminosidad",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "200",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ffcd1a",
            "#a30579",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 2270,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "5f098ad9c72246bf",
        "type": "ui_gauge",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "3df3938269e5606d",
        "order": 1,
        "width": "3",
        "height": "3",
        "gtype": "donut",
        "title": "Temp Ambiente",
        "label": " °C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#c3f92f",
            "#ebe300"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 2280,
        "y": 920,
        "wires": []
    },
    {
        "id": "fc62970d206ffcbd",
        "type": "ui_gauge",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "3df3938269e5606d",
        "order": 3,
        "width": "3",
        "height": "3",
        "gtype": "wave",
        "title": "Hum Ambiente",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 2280,
        "y": 960,
        "wires": []
    },
    {
        "id": "70361d39bd571e14",
        "type": "ui_gauge",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "3df3938269e5606d",
        "order": 4,
        "width": "3",
        "height": "3",
        "gtype": "wave",
        "title": "Hum Suelo",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 2270,
        "y": 1040,
        "wires": []
    },
    {
        "id": "641ea53b8bbe884c",
        "type": "ui_gauge",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "3df3938269e5606d",
        "order": 5,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "Luminosidad",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#170d9b",
            "#ffe100",
            "#ffe100"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 2270,
        "y": 1080,
        "wires": []
    },
    {
        "id": "fc8643a0124be3d9",
        "type": "ui_gauge",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "3df3938269e5606d",
        "order": 2,
        "width": "3",
        "height": "3",
        "gtype": "donut",
        "title": "Temp Suelo",
        "label": " °C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#c3f92f",
            "#ebe300"
        ],
        "seg1": "60",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 2270,
        "y": 1000,
        "wires": []
    },
    {
        "id": "3cfef4bf7ebf2cd7",
        "type": "ui_slider",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "label": "Umbral",
        "tooltip": "",
        "group": "3df3938269e5606d",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 1800,
        "y": 1200,
        "wires": [
            [
                "cfa9f6d538c950cd"
            ]
        ]
    },
    {
        "id": "8dc0cbd5e1d527a8",
        "type": "ui_switch",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "label": "Modo de control: Auto / Manual",
        "tooltip": "",
        "group": "3df3938269e5606d",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1870,
        "y": 1140,
        "wires": [
            [
                "025eddfd1530912e"
            ]
        ]
    },
    {
        "id": "82aae5b8c12c4ec6",
        "type": "mqtt out",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ac2e1fc7abc358f8",
        "x": 2430,
        "y": 1200,
        "wires": []
    },
    {
        "id": "a71a43e592c7bc85",
        "type": "ui_switch",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "label": "Encendido manual: OFF / ON",
        "tooltip": "",
        "group": "3df3938269e5606d",
        "order": 8,
        "width": "0",
        "height": "0",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 1870,
        "y": 1260,
        "wires": [
            [
                "fbdea3faba3db398"
            ]
        ]
    },
    {
        "id": "09685eb0a69de4ae",
        "type": "mqtt out",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ac2e1fc7abc358f8",
        "x": 2430,
        "y": 1140,
        "wires": []
    },
    {
        "id": "ca55ad1bb68fb36c",
        "type": "mqtt out",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ac2e1fc7abc358f8",
        "x": 2430,
        "y": 1260,
        "wires": []
    },
    {
        "id": "2f8b35767595f689",
        "type": "function",
        "z": "cb2a027c8a35c6d5",
        "name": "function 19",
        "func": "msg.topic = \"esp32/\" + msg.group + \"/mode_hum\";\nmsg.payload = (msg.payload) ? \"manual\" : \"auto\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2280,
        "y": 1140,
        "wires": [
            [
                "09685eb0a69de4ae"
            ]
        ]
    },
    {
        "id": "0a8d0490d8913bd9",
        "type": "function",
        "z": "cb2a027c8a35c6d5",
        "name": "function 20",
        "func": "msg.topic = \"esp32/\" + msg.group + \"/manual_hum\";\nmsg.payload = (msg.payload) ? \"1\" : \"0\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2280,
        "y": 1260,
        "wires": [
            [
                "ca55ad1bb68fb36c"
            ]
        ]
    },
    {
        "id": "fa54b3ba9887a927",
        "type": "function",
        "z": "cb2a027c8a35c6d5",
        "name": "function 21",
        "func": "msg.topic = \"esp32/\" + msg.group + \"/umbral_hum\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2280,
        "y": 1200,
        "wires": [
            [
                "82aae5b8c12c4ec6"
            ]
        ]
    },
    {
        "id": "025eddfd1530912e",
        "type": "change",
        "z": "cb2a027c8a35c6d5",
        "name": "Set Group ID",
        "rules": [
            {
                "t": "set",
                "p": "group",
                "pt": "msg",
                "to": "esp32-07",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2090,
        "y": 1140,
        "wires": [
            [
                "2f8b35767595f689"
            ]
        ]
    },
    {
        "id": "fbdea3faba3db398",
        "type": "change",
        "z": "cb2a027c8a35c6d5",
        "name": "Set Group ID",
        "rules": [
            {
                "t": "set",
                "p": "group",
                "pt": "msg",
                "to": "esp32-07",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2090,
        "y": 1260,
        "wires": [
            [
                "0a8d0490d8913bd9"
            ]
        ]
    },
    {
        "id": "cfa9f6d538c950cd",
        "type": "change",
        "z": "cb2a027c8a35c6d5",
        "name": "Set Group ID",
        "rules": [
            {
                "t": "set",
                "p": "group",
                "pt": "msg",
                "to": "esp32-07",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2090,
        "y": 1200,
        "wires": [
            [
                "fa54b3ba9887a927"
            ]
        ]
    },
    {
        "id": "79230f14f8901e3b",
        "type": "link in",
        "z": "cb2a027c8a35c6d5",
        "name": "link in 7",
        "links": [
            "dbb2bc8e8f7f4687"
        ],
        "x": 1765,
        "y": 840,
        "wires": [
            [
                "b0c6e0ebf3ceefed"
            ]
        ]
    },
    {
        "id": "964defa91ed1e0a3",
        "type": "ui_button",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "637385e0de58f387",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Limpiar",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1900,
        "y": 960,
        "wires": [
            [
                "14d21e65c1e58209"
            ]
        ]
    },
    {
        "id": "5fad8b5dcae44d6f",
        "type": "debug",
        "z": "cb2a027c8a35c6d5",
        "name": "debug 7",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2260,
        "y": 760,
        "wires": []
    },
    {
        "id": "f9eb35e64f2af628",
        "type": "ui_chart",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "16ff256b93a2fc63",
        "order": 1,
        "width": "0",
        "height": "0",
        "label": "Temperatura",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "200",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#ff7f0e",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 2270,
        "y": 1440,
        "wires": [
            []
        ]
    },
    {
        "id": "8bbe2a1d561ef85a",
        "type": "function",
        "z": "cb2a027c8a35c6d5",
        "name": "Decodificar payload",
        "func": "let now = new Date().getTime();\n\nreturn [\n  { payload: msg.payload.tempA, topic: \"Temp. Amb.\", timestamp: now },\n  { payload: msg.payload.humA, topic: \"Humd. Amb.\", timestamp: now },\n  { payload: msg.payload.tempS, topic: \"Temp. Suelo\", timestamp: now },\n  { payload: msg.payload.humS, topic: \"Humd. Suelo.\", timestamp: now },\n  { payload: msg.payload.ldr, topic: \"Luz\", timestamp: now }\n];",
        "outputs": 5,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1910,
        "y": 1480,
        "wires": [
            [
                "f9eb35e64f2af628",
                "efddf2778997f33e",
                "0278a1b832a2cffe"
            ],
            [
                "5e8a8c438b67e039",
                "644e10dedad4abdf"
            ],
            [
                "f9eb35e64f2af628",
                "1346a82f1243d529"
            ],
            [
                "5e8a8c438b67e039",
                "b7147adcad6b13be"
            ],
            [
                "ccf3c605e76f09f3",
                "75bb18eecffaa3c2"
            ]
        ]
    },
    {
        "id": "5e8a8c438b67e039",
        "type": "ui_chart",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "16ff256b93a2fc63",
        "order": 2,
        "width": "0",
        "height": "0",
        "label": "Humedad",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "200",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#2ca004",
            "#a30579",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 2260,
        "y": 1480,
        "wires": [
            []
        ]
    },
    {
        "id": "961ffb3facb398e7",
        "type": "function",
        "z": "cb2a027c8a35c6d5",
        "name": "Reset",
        "func": "return { payload: [], reset: true };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2050,
        "y": 1600,
        "wires": [
            [
                "f9eb35e64f2af628",
                "5e8a8c438b67e039",
                "ccf3c605e76f09f3",
                "efddf2778997f33e",
                "644e10dedad4abdf",
                "1346a82f1243d529",
                "b7147adcad6b13be",
                "75bb18eecffaa3c2"
            ]
        ]
    },
    {
        "id": "ba5bbff070c3e909",
        "type": "inject",
        "z": "cb2a027c8a35c6d5",
        "name": "inject",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 1910,
        "y": 1640,
        "wires": [
            [
                "961ffb3facb398e7"
            ]
        ]
    },
    {
        "id": "ccf3c605e76f09f3",
        "type": "ui_chart",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "16ff256b93a2fc63",
        "order": 2,
        "width": "0",
        "height": "0",
        "label": "Luminosidad",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "200",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ffcd1a",
            "#a30579",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 2270,
        "y": 1520,
        "wires": [
            []
        ]
    },
    {
        "id": "efddf2778997f33e",
        "type": "ui_gauge",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "ecd07bc945564642",
        "order": 1,
        "width": "3",
        "height": "3",
        "gtype": "donut",
        "title": "Temp Ambiente",
        "label": " °C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#c3f92f",
            "#ebe300"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 2280,
        "y": 1560,
        "wires": []
    },
    {
        "id": "644e10dedad4abdf",
        "type": "ui_gauge",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "ecd07bc945564642",
        "order": 3,
        "width": "3",
        "height": "3",
        "gtype": "wave",
        "title": "Hum Ambiente",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 2280,
        "y": 1600,
        "wires": []
    },
    {
        "id": "b7147adcad6b13be",
        "type": "ui_gauge",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "ecd07bc945564642",
        "order": 4,
        "width": "3",
        "height": "3",
        "gtype": "wave",
        "title": "Hum Suelo",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 2270,
        "y": 1680,
        "wires": []
    },
    {
        "id": "75bb18eecffaa3c2",
        "type": "ui_gauge",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "ecd07bc945564642",
        "order": 5,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "Luminosidad",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#170d9b",
            "#ffe100",
            "#ffe100"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 2270,
        "y": 1720,
        "wires": []
    },
    {
        "id": "1346a82f1243d529",
        "type": "ui_gauge",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "ecd07bc945564642",
        "order": 2,
        "width": "3",
        "height": "3",
        "gtype": "donut",
        "title": "Temp Suelo",
        "label": " °C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#c3f92f",
            "#ebe300"
        ],
        "seg1": "60",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 2270,
        "y": 1640,
        "wires": []
    },
    {
        "id": "9070c9e59ae5f56a",
        "type": "ui_slider",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "label": "Umbral",
        "tooltip": "",
        "group": "ecd07bc945564642",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 1800,
        "y": 1840,
        "wires": [
            [
                "1efd7221b8c7f857"
            ]
        ]
    },
    {
        "id": "0b76a4c25039a26f",
        "type": "ui_switch",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "label": "Modo de control: Auto / Manual",
        "tooltip": "",
        "group": "ecd07bc945564642",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1870,
        "y": 1780,
        "wires": [
            [
                "7d7732ccc2586cc7"
            ]
        ]
    },
    {
        "id": "91089a1d34881076",
        "type": "mqtt out",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ac2e1fc7abc358f8",
        "x": 2430,
        "y": 1840,
        "wires": []
    },
    {
        "id": "ac0167c8b2f2af15",
        "type": "ui_switch",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "label": "Encendido manual: OFF / ON",
        "tooltip": "",
        "group": "ecd07bc945564642",
        "order": 8,
        "width": "0",
        "height": "0",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 1870,
        "y": 1900,
        "wires": [
            [
                "6f482a259f783888"
            ]
        ]
    },
    {
        "id": "e4465eee6a331576",
        "type": "mqtt out",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ac2e1fc7abc358f8",
        "x": 2430,
        "y": 1780,
        "wires": []
    },
    {
        "id": "5e4e180a2137b23f",
        "type": "mqtt out",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ac2e1fc7abc358f8",
        "x": 2430,
        "y": 1900,
        "wires": []
    },
    {
        "id": "c05d5f3c7cafe2ca",
        "type": "function",
        "z": "cb2a027c8a35c6d5",
        "name": "function 22",
        "func": "msg.topic = \"esp32/\" + msg.group + \"/mode_hum\";\nmsg.payload = (msg.payload) ? \"manual\" : \"auto\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2280,
        "y": 1780,
        "wires": [
            [
                "e4465eee6a331576"
            ]
        ]
    },
    {
        "id": "81cf062a3b84681e",
        "type": "function",
        "z": "cb2a027c8a35c6d5",
        "name": "function 23",
        "func": "msg.topic = \"esp32/\" + msg.group + \"/manual_hum\";\nmsg.payload = (msg.payload) ? \"1\" : \"0\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2280,
        "y": 1900,
        "wires": [
            [
                "5e4e180a2137b23f"
            ]
        ]
    },
    {
        "id": "98842fce5005365e",
        "type": "function",
        "z": "cb2a027c8a35c6d5",
        "name": "function 24",
        "func": "msg.topic = \"esp32/\" + msg.group + \"/umbral_hum\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2280,
        "y": 1840,
        "wires": [
            [
                "91089a1d34881076"
            ]
        ]
    },
    {
        "id": "7d7732ccc2586cc7",
        "type": "change",
        "z": "cb2a027c8a35c6d5",
        "name": "Set Group ID",
        "rules": [
            {
                "t": "set",
                "p": "group",
                "pt": "msg",
                "to": "esp32-08",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2090,
        "y": 1780,
        "wires": [
            [
                "c05d5f3c7cafe2ca"
            ]
        ]
    },
    {
        "id": "6f482a259f783888",
        "type": "change",
        "z": "cb2a027c8a35c6d5",
        "name": "Set Group ID",
        "rules": [
            {
                "t": "set",
                "p": "group",
                "pt": "msg",
                "to": "esp32-08",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2090,
        "y": 1900,
        "wires": [
            [
                "81cf062a3b84681e"
            ]
        ]
    },
    {
        "id": "1efd7221b8c7f857",
        "type": "change",
        "z": "cb2a027c8a35c6d5",
        "name": "Set Group ID",
        "rules": [
            {
                "t": "set",
                "p": "group",
                "pt": "msg",
                "to": "esp32-08",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2090,
        "y": 1840,
        "wires": [
            [
                "98842fce5005365e"
            ]
        ]
    },
    {
        "id": "e986fd5290ac59a6",
        "type": "link in",
        "z": "cb2a027c8a35c6d5",
        "name": "link in 8",
        "links": [
            "4b2f4cd674058b2d"
        ],
        "x": 1765,
        "y": 1480,
        "wires": [
            [
                "8bbe2a1d561ef85a"
            ]
        ]
    },
    {
        "id": "48f4a22fc2ab4e7c",
        "type": "ui_button",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "16ff256b93a2fc63",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Limpiar",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1900,
        "y": 1600,
        "wires": [
            [
                "961ffb3facb398e7"
            ]
        ]
    },
    {
        "id": "0278a1b832a2cffe",
        "type": "debug",
        "z": "cb2a027c8a35c6d5",
        "name": "debug 8",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2260,
        "y": 1400,
        "wires": []
    },
    {
        "id": "a19b9466620132c5",
        "type": "ui_chart",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "a8233d88583450d4",
        "order": 1,
        "width": "0",
        "height": "0",
        "label": "Temperatura",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "200",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#ff7f0e",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 2270,
        "y": 2080,
        "wires": [
            []
        ]
    },
    {
        "id": "0bd20c997c65e5f7",
        "type": "function",
        "z": "cb2a027c8a35c6d5",
        "name": "Decodificar payload",
        "func": "let now = new Date().getTime();\n\nreturn [\n  { payload: msg.payload.tempA, topic: \"Temp. Amb.\", timestamp: now },\n  { payload: msg.payload.humA, topic: \"Humd. Amb.\", timestamp: now },\n  { payload: msg.payload.tempS, topic: \"Temp. Suelo\", timestamp: now },\n  { payload: msg.payload.humS, topic: \"Humd. Suelo.\", timestamp: now },\n  { payload: msg.payload.ldr, topic: \"Luz\", timestamp: now }\n];",
        "outputs": 5,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1910,
        "y": 2120,
        "wires": [
            [
                "a19b9466620132c5",
                "1c6bcde07b1a51ab",
                "44a70ce6722d5f9c"
            ],
            [
                "5b2ed1d60f0ddf5d",
                "d90dcf0a6536c50c"
            ],
            [
                "a19b9466620132c5",
                "52fd04ae9d92ece6"
            ],
            [
                "5b2ed1d60f0ddf5d",
                "bcb389ffbccda4c2"
            ],
            [
                "918ff8bb5b06ffff",
                "7384c89193c348db"
            ]
        ]
    },
    {
        "id": "5b2ed1d60f0ddf5d",
        "type": "ui_chart",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "a8233d88583450d4",
        "order": 2,
        "width": "0",
        "height": "0",
        "label": "Humedad",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "200",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#2ca004",
            "#a30579",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 2260,
        "y": 2120,
        "wires": [
            []
        ]
    },
    {
        "id": "c03014f86e4456d2",
        "type": "function",
        "z": "cb2a027c8a35c6d5",
        "name": "Reset",
        "func": "return { payload: [], reset: true };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2050,
        "y": 2240,
        "wires": [
            [
                "a19b9466620132c5",
                "5b2ed1d60f0ddf5d",
                "918ff8bb5b06ffff",
                "1c6bcde07b1a51ab",
                "d90dcf0a6536c50c",
                "52fd04ae9d92ece6",
                "bcb389ffbccda4c2",
                "7384c89193c348db"
            ]
        ]
    },
    {
        "id": "54e2b8eda08beb25",
        "type": "inject",
        "z": "cb2a027c8a35c6d5",
        "name": "inject",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 1910,
        "y": 2280,
        "wires": [
            [
                "c03014f86e4456d2"
            ]
        ]
    },
    {
        "id": "918ff8bb5b06ffff",
        "type": "ui_chart",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "a8233d88583450d4",
        "order": 2,
        "width": "0",
        "height": "0",
        "label": "Luminosidad",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "200",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ffcd1a",
            "#a30579",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 2270,
        "y": 2160,
        "wires": [
            []
        ]
    },
    {
        "id": "1c6bcde07b1a51ab",
        "type": "ui_gauge",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "923cefc070c8ec4f",
        "order": 1,
        "width": "3",
        "height": "3",
        "gtype": "donut",
        "title": "Temp Ambiente",
        "label": " °C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#c3f92f",
            "#ebe300"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 2280,
        "y": 2200,
        "wires": []
    },
    {
        "id": "d90dcf0a6536c50c",
        "type": "ui_gauge",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "923cefc070c8ec4f",
        "order": 3,
        "width": "3",
        "height": "3",
        "gtype": "wave",
        "title": "Hum Ambiente",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 2280,
        "y": 2240,
        "wires": []
    },
    {
        "id": "bcb389ffbccda4c2",
        "type": "ui_gauge",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "923cefc070c8ec4f",
        "order": 4,
        "width": "3",
        "height": "3",
        "gtype": "wave",
        "title": "Hum Suelo",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 2270,
        "y": 2320,
        "wires": []
    },
    {
        "id": "7384c89193c348db",
        "type": "ui_gauge",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "923cefc070c8ec4f",
        "order": 5,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "Luminosidad",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#170d9b",
            "#ffe100",
            "#ffe100"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 2270,
        "y": 2360,
        "wires": []
    },
    {
        "id": "52fd04ae9d92ece6",
        "type": "ui_gauge",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "923cefc070c8ec4f",
        "order": 2,
        "width": "3",
        "height": "3",
        "gtype": "donut",
        "title": "Temp Suelo",
        "label": " °C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#c3f92f",
            "#ebe300"
        ],
        "seg1": "60",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 2270,
        "y": 2280,
        "wires": []
    },
    {
        "id": "3fb71cadeef14e58",
        "type": "ui_slider",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "label": "Umbral",
        "tooltip": "",
        "group": "923cefc070c8ec4f",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 1800,
        "y": 2480,
        "wires": [
            [
                "c8b4c4a2ad674714"
            ]
        ]
    },
    {
        "id": "08d5d818862bd5ae",
        "type": "ui_switch",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "label": "Modo de control: Auto / Manual",
        "tooltip": "",
        "group": "923cefc070c8ec4f",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1870,
        "y": 2420,
        "wires": [
            [
                "29d503737bffe3c5"
            ]
        ]
    },
    {
        "id": "e7dc9f2663537391",
        "type": "mqtt out",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ac2e1fc7abc358f8",
        "x": 2430,
        "y": 2480,
        "wires": []
    },
    {
        "id": "cf67d57f4d8bbf85",
        "type": "ui_switch",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "label": "Encendido manual: OFF / ON",
        "tooltip": "",
        "group": "923cefc070c8ec4f",
        "order": 8,
        "width": "0",
        "height": "0",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 1870,
        "y": 2540,
        "wires": [
            [
                "ba91195b61388b22"
            ]
        ]
    },
    {
        "id": "5581048ea31d9f74",
        "type": "mqtt out",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ac2e1fc7abc358f8",
        "x": 2430,
        "y": 2420,
        "wires": []
    },
    {
        "id": "1e2c13ddf24ae79c",
        "type": "mqtt out",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ac2e1fc7abc358f8",
        "x": 2430,
        "y": 2540,
        "wires": []
    },
    {
        "id": "f8a2f8d5f19b64af",
        "type": "function",
        "z": "cb2a027c8a35c6d5",
        "name": "function 25",
        "func": "msg.topic = \"esp32/\" + msg.group + \"/mode_hum\";\nmsg.payload = (msg.payload) ? \"manual\" : \"auto\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2280,
        "y": 2420,
        "wires": [
            [
                "5581048ea31d9f74"
            ]
        ]
    },
    {
        "id": "f2d799ec4cfeb869",
        "type": "function",
        "z": "cb2a027c8a35c6d5",
        "name": "function 26",
        "func": "msg.topic = \"esp32/\" + msg.group + \"/manual_hum\";\nmsg.payload = (msg.payload) ? \"1\" : \"0\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2280,
        "y": 2540,
        "wires": [
            [
                "1e2c13ddf24ae79c"
            ]
        ]
    },
    {
        "id": "d133a8b68df8c633",
        "type": "function",
        "z": "cb2a027c8a35c6d5",
        "name": "function 27",
        "func": "msg.topic = \"esp32/\" + msg.group + \"/umbral_hum\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2280,
        "y": 2480,
        "wires": [
            [
                "e7dc9f2663537391"
            ]
        ]
    },
    {
        "id": "29d503737bffe3c5",
        "type": "change",
        "z": "cb2a027c8a35c6d5",
        "name": "Set Group ID",
        "rules": [
            {
                "t": "set",
                "p": "group",
                "pt": "msg",
                "to": "esp32-09",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2090,
        "y": 2420,
        "wires": [
            [
                "f8a2f8d5f19b64af"
            ]
        ]
    },
    {
        "id": "ba91195b61388b22",
        "type": "change",
        "z": "cb2a027c8a35c6d5",
        "name": "Set Group ID",
        "rules": [
            {
                "t": "set",
                "p": "group",
                "pt": "msg",
                "to": "esp32-09",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2090,
        "y": 2540,
        "wires": [
            [
                "f2d799ec4cfeb869"
            ]
        ]
    },
    {
        "id": "c8b4c4a2ad674714",
        "type": "change",
        "z": "cb2a027c8a35c6d5",
        "name": "Set Group ID",
        "rules": [
            {
                "t": "set",
                "p": "group",
                "pt": "msg",
                "to": "esp32-09",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2090,
        "y": 2480,
        "wires": [
            [
                "d133a8b68df8c633"
            ]
        ]
    },
    {
        "id": "0d690a47698e81cd",
        "type": "link in",
        "z": "cb2a027c8a35c6d5",
        "name": "link in 9",
        "links": [
            "529cd02abc785d92"
        ],
        "x": 1765,
        "y": 2120,
        "wires": [
            [
                "0bd20c997c65e5f7"
            ]
        ]
    },
    {
        "id": "e258f3e098be8afa",
        "type": "ui_button",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "a8233d88583450d4",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Limpiar",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1900,
        "y": 2240,
        "wires": [
            [
                "c03014f86e4456d2"
            ]
        ]
    },
    {
        "id": "44a70ce6722d5f9c",
        "type": "debug",
        "z": "cb2a027c8a35c6d5",
        "name": "debug 9",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2260,
        "y": 2040,
        "wires": []
    },
    {
        "id": "4231073828e57135",
        "type": "ui_chart",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "8460cad823b1ae99",
        "order": 1,
        "width": "0",
        "height": "0",
        "label": "Temperatura",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "200",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#ff7f0e",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 2250,
        "y": 2700,
        "wires": [
            []
        ]
    },
    {
        "id": "c7e4153f6d04f7d3",
        "type": "function",
        "z": "cb2a027c8a35c6d5",
        "name": "Decodificar payload",
        "func": "let now = new Date().getTime();\n\nreturn [\n  { payload: msg.payload.tempA, topic: \"Temp. Amb.\", timestamp: now },\n  { payload: msg.payload.humA, topic: \"Humd. Amb.\", timestamp: now },\n  { payload: msg.payload.tempS, topic: \"Temp. Suelo\", timestamp: now },\n  { payload: msg.payload.humS, topic: \"Humd. Suelo.\", timestamp: now },\n  { payload: msg.payload.ldr, topic: \"Luz\", timestamp: now }\n];",
        "outputs": 5,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1890,
        "y": 2740,
        "wires": [
            [
                "4231073828e57135",
                "c72340b1d353831e",
                "c03d8591655efd50"
            ],
            [
                "7aa19f9de87c0e24",
                "25f193825cb7f6b1"
            ],
            [
                "4231073828e57135",
                "8aea3ffaa7ca6d59"
            ],
            [
                "7aa19f9de87c0e24",
                "fe0a2de2433e7607"
            ],
            [
                "f0e691c23dbe7196",
                "524aafa8ceed3bcb"
            ]
        ]
    },
    {
        "id": "7aa19f9de87c0e24",
        "type": "ui_chart",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "8460cad823b1ae99",
        "order": 2,
        "width": "0",
        "height": "0",
        "label": "Humedad",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "200",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#2ca004",
            "#a30579",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 2240,
        "y": 2740,
        "wires": [
            []
        ]
    },
    {
        "id": "f7e032088b0b45b7",
        "type": "function",
        "z": "cb2a027c8a35c6d5",
        "name": "Reset",
        "func": "return { payload: [], reset: true };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2030,
        "y": 2860,
        "wires": [
            [
                "4231073828e57135",
                "7aa19f9de87c0e24",
                "f0e691c23dbe7196",
                "c72340b1d353831e",
                "25f193825cb7f6b1",
                "8aea3ffaa7ca6d59",
                "fe0a2de2433e7607",
                "524aafa8ceed3bcb"
            ]
        ]
    },
    {
        "id": "d84e7339bc31bac7",
        "type": "inject",
        "z": "cb2a027c8a35c6d5",
        "name": "inject",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 1890,
        "y": 2900,
        "wires": [
            [
                "f7e032088b0b45b7"
            ]
        ]
    },
    {
        "id": "f0e691c23dbe7196",
        "type": "ui_chart",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "8460cad823b1ae99",
        "order": 2,
        "width": "0",
        "height": "0",
        "label": "Luminosidad",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "200",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ffcd1a",
            "#a30579",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 2250,
        "y": 2780,
        "wires": [
            []
        ]
    },
    {
        "id": "c72340b1d353831e",
        "type": "ui_gauge",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "a6bb7eeb0215cd2e",
        "order": 1,
        "width": "3",
        "height": "3",
        "gtype": "donut",
        "title": "Temp Ambiente",
        "label": " °C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#c3f92f",
            "#ebe300"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 2260,
        "y": 2820,
        "wires": []
    },
    {
        "id": "25f193825cb7f6b1",
        "type": "ui_gauge",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "a6bb7eeb0215cd2e",
        "order": 3,
        "width": "3",
        "height": "3",
        "gtype": "wave",
        "title": "Hum Ambiente",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 2260,
        "y": 2860,
        "wires": []
    },
    {
        "id": "fe0a2de2433e7607",
        "type": "ui_gauge",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "a6bb7eeb0215cd2e",
        "order": 4,
        "width": "3",
        "height": "3",
        "gtype": "wave",
        "title": "Hum Suelo",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 2250,
        "y": 2940,
        "wires": []
    },
    {
        "id": "524aafa8ceed3bcb",
        "type": "ui_gauge",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "a6bb7eeb0215cd2e",
        "order": 5,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "Luminosidad",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#170d9b",
            "#ffe100",
            "#ffe100"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 2250,
        "y": 2980,
        "wires": []
    },
    {
        "id": "8aea3ffaa7ca6d59",
        "type": "ui_gauge",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "a6bb7eeb0215cd2e",
        "order": 2,
        "width": "3",
        "height": "3",
        "gtype": "donut",
        "title": "Temp Suelo",
        "label": " °C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#c3f92f",
            "#ebe300"
        ],
        "seg1": "60",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 2250,
        "y": 2900,
        "wires": []
    },
    {
        "id": "933f7eb633da34b8",
        "type": "ui_slider",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "label": "Umbral",
        "tooltip": "",
        "group": "a6bb7eeb0215cd2e",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 1780,
        "y": 3100,
        "wires": [
            [
                "6a6c862386f499ee"
            ]
        ]
    },
    {
        "id": "6143cdc82e54529d",
        "type": "ui_switch",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "label": "Modo de control: Auto / Manual",
        "tooltip": "",
        "group": "a6bb7eeb0215cd2e",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1850,
        "y": 3040,
        "wires": [
            [
                "8d32460d08fca374"
            ]
        ]
    },
    {
        "id": "6c7bb2b6fa8446c6",
        "type": "mqtt out",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ac2e1fc7abc358f8",
        "x": 2410,
        "y": 3100,
        "wires": []
    },
    {
        "id": "0f5c2e899223069b",
        "type": "ui_switch",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "label": "Encendido manual: OFF / ON",
        "tooltip": "",
        "group": "a6bb7eeb0215cd2e",
        "order": 8,
        "width": "0",
        "height": "0",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 1850,
        "y": 3160,
        "wires": [
            [
                "67e5c1c8eb85cbd1"
            ]
        ]
    },
    {
        "id": "8e7be20772c4a62b",
        "type": "mqtt out",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ac2e1fc7abc358f8",
        "x": 2410,
        "y": 3040,
        "wires": []
    },
    {
        "id": "c7ade8c91f3996e8",
        "type": "mqtt out",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ac2e1fc7abc358f8",
        "x": 2410,
        "y": 3160,
        "wires": []
    },
    {
        "id": "91cc724b48f12827",
        "type": "function",
        "z": "cb2a027c8a35c6d5",
        "name": "function 28",
        "func": "msg.topic = \"esp32/\" + msg.group + \"/mode_hum\";\nmsg.payload = (msg.payload) ? \"manual\" : \"auto\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2260,
        "y": 3040,
        "wires": [
            [
                "8e7be20772c4a62b"
            ]
        ]
    },
    {
        "id": "e392230e1baac1d6",
        "type": "function",
        "z": "cb2a027c8a35c6d5",
        "name": "function 29",
        "func": "msg.topic = \"esp32/\" + msg.group + \"/manual_hum\";\nmsg.payload = (msg.payload) ? \"1\" : \"0\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2260,
        "y": 3160,
        "wires": [
            [
                "c7ade8c91f3996e8"
            ]
        ]
    },
    {
        "id": "1d424379c50e5645",
        "type": "function",
        "z": "cb2a027c8a35c6d5",
        "name": "function 30",
        "func": "msg.topic = \"esp32/\" + msg.group + \"/umbral_hum\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2260,
        "y": 3100,
        "wires": [
            [
                "6c7bb2b6fa8446c6"
            ]
        ]
    },
    {
        "id": "8d32460d08fca374",
        "type": "change",
        "z": "cb2a027c8a35c6d5",
        "name": "Set Group ID",
        "rules": [
            {
                "t": "set",
                "p": "group",
                "pt": "msg",
                "to": "esp32-10",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2070,
        "y": 3040,
        "wires": [
            [
                "91cc724b48f12827"
            ]
        ]
    },
    {
        "id": "67e5c1c8eb85cbd1",
        "type": "change",
        "z": "cb2a027c8a35c6d5",
        "name": "Set Group ID",
        "rules": [
            {
                "t": "set",
                "p": "group",
                "pt": "msg",
                "to": "esp32-10",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2070,
        "y": 3160,
        "wires": [
            [
                "e392230e1baac1d6"
            ]
        ]
    },
    {
        "id": "6a6c862386f499ee",
        "type": "change",
        "z": "cb2a027c8a35c6d5",
        "name": "Set Group ID",
        "rules": [
            {
                "t": "set",
                "p": "group",
                "pt": "msg",
                "to": "esp32-10",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2070,
        "y": 3100,
        "wires": [
            [
                "1d424379c50e5645"
            ]
        ]
    },
    {
        "id": "664c9e6be33ca4ca",
        "type": "link in",
        "z": "cb2a027c8a35c6d5",
        "name": "link in 10",
        "links": [
            "733a4cc0e8bcfa45"
        ],
        "x": 1745,
        "y": 2740,
        "wires": [
            [
                "c7e4153f6d04f7d3"
            ]
        ]
    },
    {
        "id": "54703e53ab101b06",
        "type": "ui_button",
        "z": "cb2a027c8a35c6d5",
        "name": "",
        "group": "8460cad823b1ae99",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Limpiar",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1880,
        "y": 2860,
        "wires": [
            [
                "f7e032088b0b45b7"
            ]
        ]
    },
    {
        "id": "c03d8591655efd50",
        "type": "debug",
        "z": "cb2a027c8a35c6d5",
        "name": "debug 11",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2240,
        "y": 2660,
        "wires": []
    },
    {
        "id": "ac2e1fc7abc358f8",
        "type": "mqtt-broker",
        "name": "raspberry",
        "broker": "10.3.141.1",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "069efc9cf4fddc37",
        "type": "MySQLdatabase",
        "name": "",
        "host": "localhost",
        "port": "3306",
        "db": "nodered_db",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "adcb49cd9175be08",
        "type": "ui_group",
        "name": "esp32-01",
        "tab": "d78fca0d22a7c14e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8c2d6dc3f50a80bf",
        "type": "ui_group",
        "name": "esp32-01",
        "tab": "691cfbc18eeac385",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "391efe01648683f6",
        "type": "ui_group",
        "name": "esp32-02",
        "tab": "d78fca0d22a7c14e",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "151cc1f2a491d75d",
        "type": "ui_group",
        "name": "esp32-02",
        "tab": "691cfbc18eeac385",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "6cfb9af9217653c4",
        "type": "ui_group",
        "name": "esp32-03",
        "tab": "d78fca0d22a7c14e",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "01deb8248c48dc21",
        "type": "ui_group",
        "name": "esp32-03",
        "tab": "691cfbc18eeac385",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "6c397f7463767735",
        "type": "ui_group",
        "name": "esp32-04",
        "tab": "d78fca0d22a7c14e",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "935f9e161378f95c",
        "type": "ui_group",
        "name": "esp32-04",
        "tab": "691cfbc18eeac385",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "a6377d7c2c7cc036",
        "type": "ui_group",
        "name": "esp32-05",
        "tab": "d78fca0d22a7c14e",
        "order": 5,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "35e8b767eb4cd81c",
        "type": "ui_group",
        "name": "esp32-05",
        "tab": "691cfbc18eeac385",
        "order": 5,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "22b5d0687927e07e",
        "type": "ui_group",
        "name": "esp32-06",
        "tab": "d78fca0d22a7c14e",
        "order": 6,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "de6e1dbadb720168",
        "type": "ui_group",
        "name": "esp32-06",
        "tab": "691cfbc18eeac385",
        "order": 6,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "637385e0de58f387",
        "type": "ui_group",
        "name": "esp32-07",
        "tab": "d78fca0d22a7c14e",
        "order": 7,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "3df3938269e5606d",
        "type": "ui_group",
        "name": "esp32-07",
        "tab": "691cfbc18eeac385",
        "order": 7,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "16ff256b93a2fc63",
        "type": "ui_group",
        "name": "esp32-08",
        "tab": "d78fca0d22a7c14e",
        "order": 8,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ecd07bc945564642",
        "type": "ui_group",
        "name": "esp32-08",
        "tab": "691cfbc18eeac385",
        "order": 8,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "a8233d88583450d4",
        "type": "ui_group",
        "name": "esp32-09",
        "tab": "d78fca0d22a7c14e",
        "order": 9,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "923cefc070c8ec4f",
        "type": "ui_group",
        "name": "esp32-09",
        "tab": "691cfbc18eeac385",
        "order": 9,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "8460cad823b1ae99",
        "type": "ui_group",
        "name": "esp32-10",
        "tab": "d78fca0d22a7c14e",
        "order": 10,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "a6bb7eeb0215cd2e",
        "type": "ui_group",
        "name": "esp32-10",
        "tab": "691cfbc18eeac385",
        "order": 10,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "691cfbc18eeac385",
        "type": "ui_tab",
        "name": "Valores",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]
